.not-main
  background: url(/images/img/main-ourProd.jpg) center center / cover no-repeat
  max-height: 479px
.not-main-hematology-bg
  background: url(/images/imgHematology/not-main-hematology-bg.jpg) center center / cover no-repeat
.not-main-biochemistry-bg
  background: url(/images/biochemistry/not-main-biochemistry-bg.jpg) center center / cover no-repeat

.not-main
  width: 100%
  margin-top: 147px
  h1
    padding: 34.7% 0 4% 4.44%
    color: $white-color
    font-weight: 700
    font-size: 20px
    line-height: 23px

@media screen and ( min-width: 800px )
  .not-main
    margin-top: 94px
    h1
      margin-left: 5%
      font-weight: 700
      font-size: 32px
      line-height: 38px
@media screen and ( min-width: 1125px )
  .not-main
    h1
      font-size: 64px
      line-height: 75px
      padding: 390px 0 45px 0
@media screen and ( min-width: 1620px )
  .not-main
    h1
      font-size: 64px