.product-category
  padding-bottom: 250px
  .header-product-category
    background: #FFFFFF
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    padding: 3.62% 4.5%
    & > h2
      font-weight: 400
      font-size: 13px
      line-height: 15px
  .btn-reg
    display: block
    max-width: 206px
    text-align: center
    margin: 26px auto 0 auto
    background: #D31C24
    border-radius: 8px
    padding: 6px 40px 7px
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: #FFF
  .wrapper
    padding: 0 30px    
    max-width: 1337px
    margin: 30px auto 0 auto
    
    .model-title
      display: flex
      align-items: center
      margin-bottom: 20px
      min-width: 100%
      & > h3
        font-weight: 700
        font-size: 21.7647px
        line-height: 26px
        margin-right: 9px
        position: relative
        &:before
          content: ''
          position: absolute
          width: 100%
          height: 3.65px
          background: #C72930
          bottom: -2px
      & > p
        font-weight: 400
        font-size: 18.1372px
        line-height: 21px
        text-transform: lowercase
    .model-title-margin
      margin-top: 40px
    .wrapper-model
      display: flex
      flex-wrap: wrap
      justify-content: center
      //margin: 10px 0
      //min-height: 460px
      .item
        max-width: 248px
        min-width: 144.51px        
        width: 100%
        background: #FFFFFF
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15)
        text-align: center
        position: relative
        margin: 15px 8px 0 8px    
        cursor: pointer
        .prod-img
          width: 100%
        .wrapper-text
          padding: 7px 16px 10px
          & > h4
            font-weight: 600
            font-size: 17.3342px
          .black-title
            margin-top: 13px
            background: #000000
            border-radius: 11.5561px
            padding: 3.3px 0
            & > p
              font-weight: 400
              font-size: 14.4452px
              color: #FFFFFF
          & > p
            font-weight: 500
            font-size: 11.5561px
            line-height: 14px        
            color: #535353
            text-align: left
            margin-top: 15px
          & > .to-learn-more
            color: #D31C24
            font-weight: 400
            font-size: 11.5561px
            display: block
            margin-top: 16px
          & > .logo-img
            &:before
              content: ''
              position: absolute
              width: 100%
              border: 0.16113px solid #dedbdb
              right: 0
              //bottom: 60px
              top: 395px
            img
              margin-top: 22px
      .item-category-active
        margin-top: 12px
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25) !important
        transition: all 0.2s
        //position: fixed
    
@media screen and ( min-width: 588px )
  .product-category
    .header-product-category
      & > h2
        font-size: 16px
        line-height: 19px
    .wrapper      
      .model-title
        & > h3
          font-size: 28.3314px
          line-height: 33px
        & > p
          font-size: 23.6095px
          line-height: 28px
      .wrapper-model
        justify-content: flex-start
@media screen and ( min-width: 800px )
  .product-category
    position: relative
    .header-product-category
      padding: 29px 0 29px 9%
      & > h2
        font-size: 20px
        line-height: 23px
    .wrapper
      padding: 0 80px
      .model-title
        & > h3
          font-size: 48px
          line-height: 56px
        & > p
          font-size: 40px
          line-height: 47px
      .wrapper-model
        & > .item
          margin-top: 25px
        .item-category-active
          margin-top: 22px
          
    .btn-reg
      position: absolute
      top: 0
      right: 9%
        
@media screen and ( min-width: 1125px )
  .product-category
    .header-product-category
      padding: 29px 0 29px 5%
    .btn-reg
      right: 5%
      




