@model ReagentcategoryModel

@section Scripts {    
    <environment include="Development">
        <script src="~/js/admin/reagent-category.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/admin/reagent-category-bundle.js" asp-append-version="true"></script>
    </environment>
}

<form class="company-edit">
    <input type="hidden" name="id" value="@Model.Id"/>
    <label>
        Name
        <input value="@Model.Name" type="text" name="name"/>
    </label>
    <button type="submit">Edit product</button>
</form>