@{
    ViewBag.Title = "Reagent edit";
}

@section Scripts {    
    <environment include="Development">
        <script src="~/js/admin/reagent.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/admin/reagent-bundle.js" asp-append-version="true"></script>
    </environment>
}


<form class="reagent-add">
    <div class="button-and-header">
        <h2>
            Добавить реагент
        </h2>
        <button class="add-btn">
            Добавить
        </button>
    </div>
    <p class="successfully"></p>
    <label>
        <input id="name" type="text" name="name" placeholder="Название"/>
    </label>
    <label>
        <input id="kitComposition" type="text" name="kitComposition" placeholder="Состав набора"/>
    </label>
    @* //11 *@
    
    
    @* <label for="selectedReagents">Выберите категории:</label> *@
    @* <div style="margin-top: 15px" class="custom-select"> *@
    @*     <div class="select-header" id="selectHeader">Выберите категории</div> *@
    @*     <div class="options-container" id="optionsContainer"> *@
    @*     </div> *@
    @* </div> *@
    
    
    @* //11 *@
    
    
    
    
    
    
    
    
    <label for="selectedReagents">Выберите категории:</label>
    <div style="margin-top: 15px" class="custom-select">
        <div class="select-header" id="selectHeader">Выберите категории</div>
        <div class="options-container" id="optionsContainer">
            <input type="text" id="categorySearchInput" placeholder="Поиск категории...">
            <!-- ... more options ... -->
        </div>
    </div>
    <input type="text" id="selectedReagents" readonly>

    
    <label for="">
        <input list="fruitsList" name="companyId">
        <datalist id="fruitsList">
            
        </datalist>
    </label>
    <div class="lower-input">
        <label>
            <input class="form-file" type="file" name="instructionPdf"/>
        </label>
    </div>
    <div class="validation"></div>
    <a class="link-transition" href="/Admin/Reagent/Index">Таблица со списком реагентов</a>
</form>


