@{
	ViewBag.Title = "Add product";
}

@section Styles {    
	<environment include="Development">
		<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
	</environment>
}


@section Scripts {    
	<environment include="Development">
		<script src="~/js/admin/product.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/admin/product-bundle.js" asp-append-version="true"></script>
	</environment>
}


<form class="product-add">
	<div class="button-and-header">
		<h2>
			Добавить прибор
		</h2>
		<button>
			Добавить
		</button>
	</div>
	
	<label>
		Раздел продукта
		<input list="fruitsList1" id="productCategoriesId" name="productCategoriesId">
		<datalist class="datalist-product-category" id="fruitsList1">
            
		</datalist>
	</label>
	<label>
		Бренд
		<input list="fruitsList" name="companyId">
		<datalist class="datalist-company" id="fruitsList">
        
		</datalist>
	</label>
	<label>
		Префикс длинного заголовок
		<input id="longNamePrefix" name="longNamePrefix" type="text" placeholder="Префикс длинного заголовок">
	</label>
	<label>
		Описание
		<input id="description" name="description" type="text" placeholder="Текст описание продукта">
	</label>
	<label>
		Url
		<input id="url" name="url" type="text" placeholder="Url">
	</label>
	<label> 
		Техническая характеристика
		<input id="techInfo" name="techInfo" type="text" placeholder="Техническая характеристика">
	</label>
	<label> 
		Тип модели
		<input id="type" name="type" type="text" placeholder="Текст в черной строке">
	</label>
	<label>
		Описание в карточке
		<input id="cardTitle" name="cardTitle" type="text" placeholder="Описание в карточке">
	</label>
	<label>
		DIFF
		<input id="modelSeries" name="modelSeries" type="text" placeholder="DIFF">
	</label>
	<label>
		Модел
		<input id="model" name="model" type="text" placeholder="Название модели">
	</label>
	
	<div class="images-add">
		<div class="lower-input">
			<label>
				Главная картинка
				<input class="form-file" type="file" name="url0"/>
			</label>
		</div>
		<div class="lower-input">
			<label>
				Картинка 1
				<input class="form-file" type="file" name="url1"/>
			</label>
		</div>
		<div class="lower-input">
			<label>
				Картинка 2
				<input class="form-file" type="file" name="url2"/>
			</label>
		</div>
		<div class="lower-input">
			<label>
				Картинка 3
				<input class="form-file" type="file" name="url3"/>
			</label>
		</div>
	</div>
	
	
	<div class="validation"></div>
	<a class="link-transition" href="/Admin/Product/Index">Таблица со списком продуктов</a>
</form>