@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}


@section Styles {    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    </environment>
}


<form>
	<div class="button-and-header">
		<h2>
			Добавить прибор
		</h2>
		<button>
			Добавить
		</button>
	</div>
	<label>
		Раздел
		<input type="text" placeholder="- Раздел -">
	</label>
	<label>
		Модель
		<input type="text" placeholder="- Модель -">
	</label>
	<label>
		Заголовок
		<input type="text" placeholder="- Заголовок -">
	</label>
	<label>
		Описание
		<input type="text" placeholder="- Описание -">
	</label>
	<label>
		Технческие характеристики
		<input type="text" placeholder="- Технческие характеристики -">
	</label>
	<label> 
		Тип
		<input type="text" placeholder="- Тип прибора -">
	</label>
	<label> 
        Мини описание
        <input type="text" placeholder="- Мини описание -">
    </label>
	<label>
		Реагенты
		<input type="text" placeholder="- Реагенты -">
	</label>
	<label>
		Расходные материалы
		<input type="text" placeholder="- Расходные материалы -">
	</label>
	<label>
		Сертификаты
		<input type="file" name="iFormFile">
	</label>
	<div class="lower-input">
		<label> 
			Большое фото
			<input type="file" name="iFormFile">
		</label>
		<label>
			1
			<input type="file" name="iFormFile">
		</label>
		<label>
			2
			<input type="file" name="iFormFile">
		</label>
		<label>
			3
			<input type="file" name="iFormFile">
		</label>
	</div>
</form>





@* *@
@* <div id="window-2" class="window fields-to-be-added card-add d-none"> *@
@* 	<form> *@
@* 		<div class="button-and-header"> *@
@* 			<h2> *@
@* 				Добавить карточку прибора *@
@* 			</h2> *@
@* 			<button> *@
@* 				Добавить *@
@* 			</button> *@
@* 		</div> *@
@* 		<label> *@
@* 			Раздел *@
@* 			<input type="text" placeholder="- Выбрать раздел -"> *@
@* 		</label> *@
@* 		<label> *@
@* 			Модель *@
@* 			<input type="text" placeholder="- Модель -"> *@
@* 		</label> *@
@* 		<label> *@
@* 			Тип *@
@* 			<input type="text" placeholder="- Тип прибора -"> *@
@* 		</label> *@
@* 		<label> *@
@* 			Мини описание *@
@* 			<input type="text" placeholder="- Описание -"> *@
@* 		</label> *@
@* 		<label> *@
@* 			Компания *@
@* 			<input type="text" list="fruits" id="fruit-input" placeholder="- Компания -"> *@
@* 			<datalist id="fruits"> *@
@* 				<option value="Mindray"> *@
@* 				<option value="BioSystems"> *@
@* 				<option value="AWARENESS"> *@
@* 			</datalist> *@
@* 		</label> *@
@* 		<div class="lower-input"> *@
@* 			<label> *@
@* 				Место в ряде *@
@* 				<input class="input" type="text"> *@
@* 			</label> *@
@* 			<label> *@
@* 				Фото оборудвания *@
@* 				<input type="file" name="iFormFile"> *@
@* 			</label> *@
@* 		</div> *@
@* 	</form> *@
@* </div> *@