@{
    ViewBag.Title = "Login";
    Layout = null;
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    <script src="~/js/api-request.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
</environment>
    
<environment exclude="Development">
    <link rel="stylesheet" href="/css/admin-bundle.css" asp-append-version="true">
    <script src="~/js/user-bundle.js" asp-append-version="true"></script>
</environment>

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Регистрация</title>
    </head>
    <body>
    <main>
        <section class="inlet">
            <form class="form-login">
                <h1>
                    Вход
                </h1>
                <div class="wrapper">
                    <label>
                        Имя
                         <input id="name" type="text" name="name" placeholder="Введите пароль">
                    </label>
                    <label>
                        Пароль
                        <input id="password" type="password" name="password" placeholder="Введите пароль">
                    </label>
                    <button class="login">Вход</button>
                </div>
            </form>
        </section>
    </main>
    <footer></footer>
    </body>
</html>
