@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<AboutusModel>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/about-us.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/about-us-bundle.css" asp-append-version="true">
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "О Нас"
    });
}

<section id="AboutUs" class="at-the-right-edge">
    <div class="header-product-category">
        <ul class="min-nav-menu">
            <li>
                <a href="/home">Главная /</a>
            </li>
            <li>
                <a href="/home/AboutUs">О Нас</a>
            </li>
        </ul>
    </div>
    <div class="title">
        <div class="wrapper">
            
            @{
                var sortedAboutUs = Model.OrderBy(item => item.Id);
            }

            @foreach (var aboutus in sortedAboutUs)
            {
                <div class="item">
                    <div>
                        <p>@Html.Raw(aboutus.Title)</p>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>