@{
    ViewData["Title"] = "Home Page";
}



@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/add-company.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/add-company.css" asp-append-version="true">
    </environment>
}


<section class="admin-nav">
    <div class="wrapper">
        <a class="btn" href="/home/AddACompany">Компании</a>
        <button class="btn" disabled>Сертификаты</button>
        <button class="btn" disabled>Категории реагентов</button>
        <button class="btn" disabled>Реагенты</button>
        <button class="btn" disabled>Расходные материалы</button>
        <button class="btn" disabled>Изображения продуктов</button>
    </div>
</section>
