@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/hematology.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/hematology-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-doc.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-doc-bundle.js" asp-append-version="true"></script>
    </environment>
    
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Биохимия"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Автоматический биохимический анализатор BioSystems BA-400 (Biosystems)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/biochemistry/biochemistryBA400-1-1.jpg" alt="">
                <img class="box1 img-big" src="/images/biochemistry/biochemistryBA400-11-1.jpg" alt="">
                <img class="box2 img-min" src="/images/biochemistry/biochemistryBA400-2-1.jpg" alt="">
                <img class="box3 img-min img-c" src="/images/biochemistry/biochemistryBA400-3-1.jpg" alt="">
                <img class="box4 img-min" src="/images/biochemistry/biochemistryBA400-4-1.jpg" alt="">
            </div>
            <div class="item-title">
                <h3>Описание</h3>
                <ul class="big-list">
                    <li>Система для клинической химии и турбидиметрии</li>
                    <li>Технология Random Access</li>
                    <li>Высокая производительность</li>
                    <li>88 охлаждаемых позиций с возможностью считывания штрих-кода</li>
                    <li>135 позиций для образцов, контролей и стандартов, подходящие и для первичных, и для педиатрических пробирок, 90 из них с возможностью считывания штрих-кода</li>
                    <li>Вместительные емкости для моющего раствора и отходов, обеспечивающие 8 часов непрерывной работы без наполнения/слива жидкости</li>
                    <li>Автоматическая подача воды/сброс отходов, встроенные резервуары для жидкости, легкая адаптация под потребности лаборатории</li>
                    <li>Автономность системы повышена, благодаря увеличению вместимости образцов и реагентов на борту анализатора</li>
                    <li>Понижение себестоимости тестов, которое достигается за счет оптимизации потребления воды и электроэнергии, минимизации объема реакционной смеси и высокой точности дозирования</li>
                    <li>Дружелюбный интерфейс, приятное графическое оформление, возможность мониторинга рабочей сессии в режиме реального времени и исчерпывающие данные по контролю качества исследований (правила Вестгарда, карты Юдена и Леви-Лженнинга, база данных архивных результатов)</li>
                    <li>Специально для анализатора ВА400 компания BioSystems разработала инновационную оптическую систему, базирующуюся на линии мощных светодиодных монохроматических излучателей с 8-ю рабочими длинами волн, которые охватывают наиболее востребованные методики рутинной и специальной биохимии</li>
                    <li>Твердотельные излучатели света узкого спектра, обеспечивающие ресурс работы до 50’000 часов, способствуют достижению максимальной точности измерений и оптимальной функциональности</li>
                    <li>Электронная система с функцией самодиагностики, использующая для связи CAN (Controller Area Network)-шину повышает функциональность и уменьшает время на обслуживание</li>
                    <li>Высокоточная система дозирования образца с датчиками обнаружения уровня жидкости, предотвращения столкновений и образования сгустка; манипулятор автоматически возвращается на исходную позицию при необходимости</li>
                    <li>Низкое потребление воды (меньше чем 14 л/час); жидкость в моющей станции термостатируется, чем достигается постоянство температуры в реакционном роторе</li>
                    <li>Пониженный износ и увеличенный срок службы дозирующей помпы с керамическим пистоном</li>
                    <li>Энергетически независимая охлаждающая система для реагентов (температура от 5О до 8О С, при температуре окружающей среды не выше 35О С)</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Пропускная способность: 400 тестов/час (без электролитов)</li>
                        <li>Пропускная способность ISE модуля: 320 тестов/час</li>
                        <li>Принципы анализа: колориметрия, турбидиметрия</li>
                        <p>ISE модуль (опция)</p>
                        <li>Тип образцов: сыворотка, плазма или моча</li>
                        <li>Тип электродов: Na+, K+, Cl-. Li+ (опция)</li>
                        <li>Объем образца: сыворотка - 100 мкл/ Моча - 200 мкл</li>
                        <p>Обработка пробы</p>
                        <li>Емкость ротора для проб: 135</li>
                        <li>Считывание штрих-кода: Да</li>
                        <li>Количество образцов с возможностью считывания штрих-кода: 90</li>
                        <li>Размеры пробирок для проб: диаметр от 12 мм до 16 мм (высота до 100 мм)</li>
                        <li>Педиатрические пробирки 13.5 мм диаметром</li>
                        <li>Тип дозатора: помпа редкого обслуживания с керамическим поршнем</li>
                        <li>Объем дозирования: от 2 мкл до 40 мкл</li>
                        <li>Точность дозирования: 0.1 мкл</li>
                        <li>Фактор пред-разведения: от 1:2 до 1:200</li>
                        <li>Обнаружение уровня жидкости: да</li>
                        <li>Обнаружение сгустка: да</li>
                        <li>Вертикальный детектор препятствий: да</li>
                        <p>Обработка реагентов</p>
                        <li>Объем бутылочек для реагентов: 20 мл, 60 мл</li>
                        <li>Емкость ротора для реагентов: 88 (44 бутылочки по 20 мл или по 60 мл + 44 бутылочки по 20 мл)</li>
                        <li>Охлаждение реагентов: да</li>
                        <li>иапазон температур холодильника: от 5О до 8О С (при комнатной температуре 25О С)</li>
                        <li>Считывание штрих-кода: да</li>
                        <li>Объем реагента R1: от 150 мкл до 500 мкл</li>
                        <li>Объем реагента R2: от 40 мкл до 300 мкл</li>
                        <li>Тип дозатора: помпа редкого обслуживания с керамическим поршнем</li>
                        <li>Точность дозирования: 1 мкл</li>
                        <li>Обнаружение уровня жидкости: да</li>
                        <li>Вертикальный детектор препятствий: да</li>
                        <li>Термостатирование в игле: да</li>
                        <p>Реакционный ротор</p>
                        <li>Минимальный объем реакционной смеси: 200 мкл</li>
                        <li>Максимальный объем реакционной смеси: 600 мкл</li>
                        <li>Количество ячеек: 120</li>
                        <li>Материал ячеек: УФ-пропускающий метакрилат</li>
                        <li>Температура реакционного ротора: 37 С</li>
                        <li>Точность термостатирования: ± 0.2 С</li>
                        <li>Стабильность температуры: ± 0.1 С</li>
                        <li>Мешалки: 2</li>
                        <li>Моющая станция: 7 игл (2 моющих, 3 промывающих, 2 осушающих)</li>
                        <p>Оптическая система</p>
                        <li>Источник света: светодиоды + HCF</li>
                        <li>Длины волн: 340-405-505-535-560-600-635-670 нм</li>
                        <li>Ширина длины волны: 10 нм ± 2 нм</li>
                        <li>Фотометрический диапазон: -0.2 А до 3.5 А</li>
                        <li>Внутреннее разрешение: 0.0001</li>
                        <li>Фотодетектор: основной фотодиод + референсный фотодиод</li>
                        <li>Точность измерения: CV < 1% для 0.1 А CV < 0.1% для 2 А (для 340 нм, 405 нм и 505 нм)</li>
                        <p>Требования к водоподготовке</p>
                        <li>Источник воды: внешний бак или водная магистраль</li>
                        <li>Тип воды: дистиллированная Класс II</li>
                        <li>Потребление воды < 14 л/час</li>
                        <li>Внутренняя емкость для сконцентрированных отходов: 5 л</li>
                        <li>Внутренняя емкость для моющего раствора: 5 л</li>
                        <p>Минимальные требования к компьютеру</p>
                        <li>Оперативная система: Windows® 7 64-бит (х64)</li>
                        <li>ЦПУ: Эквивалентный Intel Core i3 3.1 GHz или лучше</li>
                        <li>Память: 4 Гб</li>
                        <li>Жесткий диск: 40 Гб или больше</li>
                        <li>DVD: да</li>
                        <li>Минимальное разрешение монитора: минимальное 1024 х 768</li>
                        <li>Разъем для подключения USB э</li>
                        <p>Соответствие стандартам</p>
                        <li>EC Directive: 98/79/EC IVD</li>
                        <li>Требования к электропитанию</li>
                        <li>Напряжение: от 115 В до 230 В</li>
                        <li>Частота: 50 Гц или 60 Гц</li>
                        <li>Потребляемая мощность: 500 ВА</li>
                        <p>Эксплуатационные требования</p>
                        <li>Комнатная температура: от 10 С до 35 С, от 10 С до 30 С (с ISE модулем)</li>
                        <li>Относительная влажность: < 85% без конденсата</li>
                        <li>Высота над уровнем моря: < 2500 м</li>
                        <li>Размеры: (ширина, глубина и высота)</li>
                        <li>Вес: 210 кг</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/biochemistry/biochemistry-increasing.jpg" alt="">
                        </div> 
                        <div class="list">
                            <div class="hed img-13">
                                <p>Биохимия</p>
                            </div>
                            <ul>
                                <li>Uric acid - мочевая кислота</li>
                                <li>ALB-альбумин </li>
                                <li>Bil. direct-прямой билирубин</li>
                                <li>Bil. total-общий билирубин</li>
                                <li>Chol. total - холестерин общий</li>
                                <li>Chol. HDL - холестерин прямой</li>
                                <li>Chol. LDL - холестерин прямой</li>
                                <li>CREA - креатинин</li>
                                <li>GLU - глюкоза</li>
                                <li>TP - белок (общий)</li>
                                <li>PU - белок (в моче)</li>
                                <li>TG - триглицериды</li>
                                <li>Urea/BUN/UV - мочевина</li>
                                <li>Ca Arsenazo - кальций (Арсеназо III)</li>
                                <li>P - фосфор</li>
                                <li>Iron - железо (Феррозин)</li>
                                <li>Mg - магний 5х50 мл</li>
                                <li>ALT/GPT - аланинаминотрансфераза</li>
                                <li>AST/GOT - аспартатаминотрансфераза</li>
                                <li>α-Amylasa direct - α-амилаза (прямой субстрат)</li>
                                <li>CK - креатинкиназа</li>
                                <li>CK-MB - креатинкиназа</li>
                                <li>ALP - щелочная фосфатаза</li>
                                <li>ALP - щелочная фосфатаза</li>
                                <li>γ-GT - γ-глутамилтрансфераза </li>
                                <li>LDH – лактатдегидрогеназа</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Турбидиметрия</p>
                            </div>
                            <ul>
                                <li>АSО - анти-стрептолизин О</li>
                                <li>CRP - C-реактивный белок</li>
                                <li>CRP hs - С-реактивный белок высокочувствительный</li>
                                <li>RF - ревматоидный фактор</li>
                                <li>IgG - иммуноглобулин G</li>
                                <li>IgA - иммуноглобулин A</li>
                                <li>IgM - иммуноглобулин M</li>
                                <li>C3 - компонент комплемента С3</li>
                                <li>C4 - компонент комплемента С4</li>
                                <li>ALB - альбумин (моча)</li>
                                <li>Ferritin - ферритин</li>
                                <li>Transferin - трансферин</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                                        
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>