@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/hematology.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/hematology-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-doc.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-doc-bundle.js" asp-append-version="true"></script>
    </environment>
    
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Биохимия"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Автоматический биохимический анализатор BioSystems A-25 (Biosystems)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/biochemistry/biochemistryA25-1-1.jpg" alt="">
                <img class="box1 img-big" src="/images/biochemistry/biochemistryA25-11-1.jpg" alt="">
                <img class="box2 img-min" src="/images/biochemistry/biochemistryA25-2-1.jpg" alt="">
                <img class="box3 img-min img-c" src="/images/biochemistry/biochemistryA25-3-1.jpg" alt="">
                <img class="box4 img-min" src="/images/biochemistry/biochemistryA25-4-1.jpg" alt="">
            </div>
            <div class="item-title">
                <h3>Описание</h3>
                <ul class="big-list">
                    <li>Система для клинической химии и турбидиметрии</li>
                    <li>Технология Random Access</li>
                    <li>Высокая производительность</li>
                    <li>Охлаждаемый штатив с 30-ю позициями для реагентов. Независимая подача энергии</li>
                    <li>Автоматическое управление системой подачи растворов для обеспечения оптимального выполнения задач в любое время</li>
                    <li>Оптическая система последнего поколения для обеспечения максимальной стабильности и долговечности при любых внешних условиях, отсутствие опасности рассеивания света</li>
                    <li>Многоразовый ротор, изготовленный из химически инертного метакрилата, позволяющий работать в УФ и видимом диапазоне. Автоматическая проверка чистоты ротора</li>
                    <li>Оборудование настроено на прямую подачу реагента в образец, таким образом максимально обеспечивается уменьшение «мертвых» объемов дорогостоящих реагентов</li>
                    <li>Уменьшено потребление воды; автоматические датчики для оповещения о недостаточных для работы объемах растворов</li>
                    <li>Высокоточная система дозирования, относительное отклонение 2% при объеме образца 3 мкл. Минимальный объем считывания 200 мкл</li>
                    <li>Отображение поступающей информации рабочего листа в режиме реального времени</li>
                    <li>Автоматическое распределение реагентов в штативе или предварительное программирование штатива реагентов оператором</li>
                    <li>Простое и удобное программное обеспечение, включающее огромное количество функций</li>
                    <li>Автоматическое ежедневное обслуживание, включая самопроверку и автоматическое включение/выключение</li>
                    <li>Удобное управление интерфейсом с системой обратной связи</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Производительность: 240 тестов в час</li>
                        <li>Количество позиций в холодильнике для реагентов: 30</li>
                        <li>Количество позиций для штативов: 3</li>
                        <li>Количество проб в штативе: 24</li>
                        <li>Максимальное количество проб: 72</li>
                        <li>Типы пробирок: первичные пробирки d 13, 5 мм, максимальная высота 100 мм</li>
                        <li>Специальный штатив: вторичные пробирки (кюветы) d 13 мм</li>
                        <li>Количество реагентов в штативе: 10</li>
                        <li>Максимальное количество неохлаждаемых реагентов: 20</li>
                        <li>Флаконы для реагентов: 20 и 50 мл</li>
                        <li>Дозирующая игла: нержавеющая сталь</li>
                        <li>Определение уровня жидкости: емкостной тип</li>
                        <li>Дозирующая помпа: керамический поршень</li>
                        <li>Объем реагента: 10-440 мкл</li>
                        <li>Объем пробы: 3-40 мкл</li>
                        <li>Объем бутыли с дистиллированной водой: 2700 мл</li>
                        <li>Бутыль для отходов: 2700 мл</li>
                        <li>Количество кювет в роторе: 120</li>
                        <li>Диапазон объемов реакционной смеси: 200-800 мкл</li>
                        <li>Длина оптического пути: 6 мм</li>
                        <li>Источник света: галогеновая лампа 12 В, 20 Вт</li>
                        <li>Система фотометрического детектирования: кремниевый фотодиод</li>
                        <li>Диапазон измерений: от 0,05 до 2,5 A Спектральный диапазон 340 – 900 нм</li>
                        <li>Конфигурация фильтра: 340, 405, 505, 535, 560, 600, 635, 670 нм</li>
                        <li>Размеры: 1080 (Д) х 695 (Ш) х 510 (В) мм</li>
                        <li>Вес 73 к</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/biochemistry/biochemistry-increasing.jpg" alt="">
                        </div> 
                        <div class="list">
                            <div class="hed img-13">
                                <p>Биохимия</p>
                            </div>
                            <ul class="none-ul">
                                <li>Uric acid - мочевая кислота</li>
                                <li>ALB-альбумин </li>
                                <li>Bil. direct-прямой билирубин</li>
                                <li>Bil. total-общий билирубин</li>
                                <li>Chol. total - холестерин общий</li>
                                <li>Chol. HDL - холестерин прямой</li>
                                <li>Chol. LDL - холестерин прямой</li>
                                <li>CREA - креатинин</li>
                                <li>GLU - глюкоза</li>
                                <li>TP - белок (общий)</li>
                                <li>PU - белок (в моче)</li>
                                <li>TG - триглицериды</li>
                                <li>Urea/BUN/UV - мочевина</li>
                                <li>Ca Arsenazo - кальций (Арсеназо III)</li>
                                <li>P - фосфор</li>
                                <li>Iron - железо (Феррозин)</li>
                                <li>Mg - магний 5х50 мл</li>
                                <li>ALT/GPT - аланинаминотрансфераза</li>
                                <li>AST/GOT - аспартатаминотрансфераза</li>
                                <li>α-Amylasa direct - α-амилаза (прямой субстрат)</li>
                                <li>CK - креатинкиназа</li>
                                <li>CK-MB - креатинкиназа</li>
                                <li>ALP - щелочная фосфатаза</li>
                                <li>ALP - щелочная фосфатаза</li>
                                <li>γ-GT - γ-глутамилтрансфераза </li>
                                <li>LDH – лактатдегидрогеназа</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Турбидиметрия</p>
                            </div>
                            <ul class="none-ul">
                                <li>АSО - анти-стрептолизин О</li>
                                <li>CRP - C-реактивный белок</li>
                                <li>CRP hs - С-реактивный белок высокочувствительный</li>
                                <li>RF - ревматоидный фактор</li>
                                <li>IgG - иммуноглобулин G</li>
                                <li>IgA - иммуноглобулин A</li>
                                <li>IgM - иммуноглобулин M</li>
                                <li>C3 - компонент комплемента С3</li>
                                <li>C4 - компонент комплемента С4</li>
                                <li>ALB - альбумин (моча)</li>
                                <li>Ferritin - ферритин</li>
                                <li>Transferin - трансферин</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/biochemistry/biochemistry-consumables.jpg" alt="">
                        </div>
                        <div class="list">
                            <ul class="none-ul show">
                                <li>Concentrated system liquid – 1000 mL</li>
                                <li>Concentrated washing solition – 100 mL</li>
                                <li>Reaction rotor – 10 units</li>
                                <li>Sample wells – 1000 units</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>