@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/hematology.js" asp-append-version="true"></script>
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/hematology-bundle.js" asp-append-version="true"></script>
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Гемостаз"
    });
}

<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Полуавтоматический анализатор коагуляции Bio Solea 4 (BioLabo)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/Hemostasis/BioSolea4_1.png" alt="">
                <img class="box1 img-big" src="/images/Hemostasis/BioSolea4_11.png" alt="">
                <img class="box2 img-min" src="/images/Hemostasis/BioSolea4_2.png" alt="">
                <img class="box3 img-min img-c" src="/images/Hemostasis/BioSolea4_3.png" alt="">
                <img class="box4 img-min" src="/images/Hemostasis/BioSolea4_4.png" alt="">
            </div>
            <div class="item-title">
                <h3>Описаниe</h3>
                <ul class="big-list">
                    <li>4-канальный полуавтоматический коагулометр</li>
                    <li>Механический метод определения</li>
                    <li>Открытая система без обслуживания</li>
                    <li>Работает с любой стандартной пипеткой</li>
                    <li>Самодиагностика при включении</li>
                    <li>Mагнитная мешалка для реагентов</li>
                    <li>Сообщение TEMP LO до тех пор, пока прибор не достигнет рабочей температуры</li>
                    <li>Автоматическая начало инкубации после установки кювет для образцов</li>
                    <li>Автоматическое начало измерения после добавления реагента стартовой пипеткой</li>
                    <li>Результаты автоматически отображается на дисплее и распечатывается (опция)</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Вид аналитической системы: полуавтоматический</li>
                        <li>Метод измерения: опто-механический (оптический и механический)</li>
                        <li>Измерительные каналы: 4</li>
                        <li>Определяемые параметры: протромбиновое время, АЧТВ, фибриноген, тромбиновое время и 4 свободных позиций для факторов свертывания</li>
                        <li>Температура инкубационного блока: 37 °С</li>
                        <li>Автоматическое начало измерения : при помощи стартовой пипетки</li>
                        <li>Вывод результатов: на дисплей/на принтер (опция)</li>
                        <li>Электропитание: 110-220 В переменного тока, 50/60 Гц</li>
                        <li>Размеры: 330 x 250 x 110 мм</li>
                        <li>Вес: 4.8 кг</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/Hemostasis/HemostasisReg3.jpg" alt="">
                        </div> 
                        <div class="list">
                            <div class="hed img-13">
                                <p>Клоттинговые тесты</p>
                            </div>
                            <ul class="none-ul">
                                <li>PT - протромбиновое время</li>
                                <li>APTT - активированное частичное тромбопластиновое время</li>
                                <li>CaCl2 – хлорид кальция</li>
                                <li>FBG - фибриноген</li>
                                <li>TT – тромбиновое время</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>