@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/hematology.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/hematology-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Гемостаз"
    });
}

<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Полуавтоматический анализатор коагуляции C3100 (Mindray)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/Hemostasis/C3100_1.png" alt="">
                <img class="box1 img-big" src="/images/Hemostasis/C3100_11.png" alt="">
                <img class="box2 img-min" src="/images/Hemostasis/C3100_2.png" alt="">
                <img class="box3 img-min img-c" src="/images/Hemostasis/C3100_3.png" alt="">
                <img class="box4 img-min" src="/images/Hemostasis/C3100_4.png" alt="">
            </div>
            <div class="item-title">
                <h3>Описаниe</h3>
                <ul class="big-list">
                    <li>Полностью автоматизированная система - автоматический отбор пробы; автоматическое измерение; автоматический контроль температуры рабочей среды; автоматическая генерация измерительного отчета; автоматическая печать результатов; автоматический контроль использования реагентов и расходных материалов</li>
                    <li>Технология двойного магнитного контура - надежный результат</li>
                    <li>4 независимых оптических канала</li>
                    <li>Высокая производительность - 200 тестов в час</li>
                    <li>Может применяться для анализа 20-70 образцов в день</li>
                    <li>Автоматическая загрузка кювет - 1000 кювет в автозагрузчике</li>
                    <li>Отдельное автоматическое дозирующее устройство для проб и реагентов с функцией обнаружения уровня жидкости</li>
                    <li>Автоматическая калибровка по 2-6 точкам</li>
                    <li>Встроенный принтер</li>
                    <li>Малый расход промывочного раствора, удобное расположение емкости, позволяющее легко контролировать уровень промывающего раствора</li>
                    <li>Возможность онлайн-настройки экспериментальных параметров (в режиме реального времени)</li>
                    <li>Поддержка предварительной автоматической выборки образцов и обнаружение случаев «экстренной медицинской помощи»</li>
                    <li>Высокая воспроизводимость результатов (коэффициент вариации CV менее 3%)</li>
                    <li>Низкая себестоимость одного анализа</li>
                    <li>Встроенный сканер штрих-кода</li>
                    <li>Поддержка автоматического сообщения об ошибках и их корректировка во время тестирования</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Вид аналитической системы: автоматический</li>
                        <li>Принцип: механический метод; отический метод (575 нм)</li>
                        <li>Определяемые параметры: клоттинговые тесты - протромбиновое время, МНО, АЧТВ, фибриноген, тромбиновое время, LA, факторы свертывания (II, V, VII, X, VIII, IX, XI, XII), гепарин и LMWH, протеины С и S; иммунологические тесты: Д-Димер</li>
                        <li>Производительность: PT - 200 т/ч; D-dimer - 60 т/ч</li>
                        <li>Отсек инкубации проб: 16 позиции</li>
                        <li>Позиции образцов: 61позиций со светодиодным индикатором</li>
                        <li>Позиции реагентов: 11 позиций со светодиодным индикатором, а также функцией охлаждения; 2 позиции с функцией перемешивания</li>
                        <li>Автоматическая загрузка кювет: 1000 кювет</li>
                        <li>STAT: независимая автоматическая загрузка STAT образцов</li>
                        <li>Система отбора проб: отдельный зонд для образца и реагента, меньше перекрестных загрязнений, оба зонда с определением уровня жидкости, пробирка для реагентов с функцией подогрева, обеспечивающая точный результат анализа, реагентный зонд оснащен функцией нагрева</li>
                        <li>Объем образца: 2-1000 мкл, шаг 0,5 мкл.</li>
                        <li>Объем реагента: 2-1000 мкл, шаг 0,5 мкл.</li>
                        <li>Калибровка: автоматическая калибровка по 2-6 точкам</li>
                        <li>Источник питания: 200–240 В, 50 Гц, 1500 ВА или 220–230 В, 60 Гц, 1500 ВА или 110–115 В, 60 Гц, 1500 ВА</li>
                        <li>Температура: 15–30 °C</li>
                        <li>Влажность: 35–85%</li>
                        <li>Размеры: 585x695x590 нм</li>
                        <li>Вес: 65,5 кг</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/Hemostasis/HemostasisReg2.jpg" alt="">
                        </div> 
                        <div class="list">
                            <div class="hed img-13">
                                <p>Клоттинговые тесты</p>
                            </div>
                            <ul class="none-ul">
                                <li>PT - протромбиновое время</li>
                                <li>APTT - активированное частичное тромбопластиновое время</li>
                                <li>CaCl2 – хлорид кальция</li>
                                <li>FBG - фибриноген</li>
                                <li>TT – тромбиновое время</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Хромогенные тесты</p>
                            </div>
                            <ul class="none-ul">
                                <li>AT III – антитромбин III</li>
                                <li>Protein C – протеин C</li>
                                <li>Protein S – протеин S</li>
                                <li>LA Screen - волчаночный антикоагулянт (скрининговый тест)</li>
                                <li>LA Confirm - волчаночный антикоагулянт (подтверждающий тест)</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Иммунологические тесты</p>
                            </div>
                            <ul class="none-ul">
                                <li>DD – Д-димер</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Факторы (внешний путь)</p>
                            </div>
                            <ul class="none-ul">
                                <li>F II – фактор II</li>
                                <li>F V - фактор V</li>
                                <li>F VII - фактор VII</li>
                                <li>F X - фактор X</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Факторы (внутренний путь)</p>
                            </div>
                            <ul class="none-ul">
                                <li>F VIII – фактор VIII</li>
                                <li>F IX – фактор IX</li>
                                <li>F XI – фактор XI</li>
                                <li>F XII – фактор XII</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>