@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/contact-us.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/contact-us-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Контакты"
    });
}


<section id="ContactUs" class="contact-us">
    <div class="header-product-category">
        <ul class="min-nav-menu">
            <li>
                <a href="/home/ContactUs">Главная/</a>
            </li>
            <li>
                <a href="/home/ContactUs">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="img">
            <img src="/images/img/contactUs.jpg" alt="">
        </div>
        <div class="address-office-hours">
            <div class="contacts-page">
                <p>How To Find Us</p>
                <div class="map-page">
                    <img src="/images/icon/map_icon-black.svg" alt="">
                    <p>
                        Yerevan,Armenia Komitas 55/3
                    </p>
                </div>
                <a href="#" class="number">
                    <img src="/images/icon/phone-black.svg" alt="">
                    <p>+374(10) 23-08-51 </p>
                </a>
                <a href="#" class="number">
                    <img src="/images/icon/phone-black.svg" alt="">
                    <p>+374(55) 77-66-99</p>
                </a>
            </div>
            <div class="office-hours">
                <p>
                    Office Hours
                </p>
                <div class="days">
                    <div>
                        <p>Monday</p><span>09:00-19:00</span>
                    </div>
                    <div>
                        <p>Friday</p><span>09:00-19:00</span>
                    </div>
                    <div>
                        <p>Saturday</p><span>09:00-16:00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>