@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/product-category.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
        <link rel="stylesheet" href="/css/product-category-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class-bundle.js" asp-append-version="true"></script>
    </environment>
}


@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "ОБЩЕЛАБОРАТОРНЫЕ РАСХОДНЫЕ МАТЕРИАЛЫ",
        ClassTitle = "general-laboratory-consumable"
    });
}
<section class="product-category">
    <div class="header-product-category">
        <ul class="min-nav-menu">
            <li>
                <a href="/home/GeneralLaboratoryConsumable">Продукты/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumable"> Общелабораторные расходные материалы/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumableNeedles">иглы</a>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="model-title">
            <h3>Иглы</h3>
        </div>
        <div class="wrapper-model">
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/needle-1-1.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ИГЛА-БАБОЧКА</h4>
                    <div class="black-title">
                        <p>
                            для забора крови
                        </p>
                    </div>
                    <p>
                        - Размеры: 21G*3/4* <br>
                        - Длина соединительной трубки: 30 см <br>
                        - Упаковка: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/needle-1-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ИГЛА-БАБОЧКА</h4>
                    <div class="black-title">
                        <p>
                            для забора крови
                        </p>
                    </div>
                    <p>
                        - Размеры: 23G*3/4* <br>
                        - Длина соединительной трубки: 30 см <br>
                        - Упаковка: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/needle-1-3.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ИГЛА</h4>
                    <div class="black-title">
                        <p>
                            для забора крови
                        </p>
                    </div>
                    <p>
                        - Размеры: 21G*1 1/2 <br>
                        - Длина соединительной трубки: 30 см
                        Упаковка: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
