@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/product-category.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
        <link rel="stylesheet" href="/css/product-category-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class-bundle.js" asp-append-version="true"></script>
    </environment>
}


@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "ОБЩЕЛАБОРАТОРНЫЕ РАСХОДНЫЕ МАТЕРИАЛЫ",
        ClassTitle = "general-laboratory-consumable"
    });
}

<section class="product-category">
    <div class="header-product-category">
        <ul class="min-nav-menu">
            <li>
                <a href="/home/GeneralLaboratoryConsumable">Продукты/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumable"> Общелабораторные расходные материалы/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumableVacutainers">Вакаутайнеры</a>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="model-title">
            <h3>Вакутайнеры</h3>
        </div>
        <div class="wrapper-model">
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-1.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            активатором свертывания и гелем
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 5 мл <br>
                        - Размер: 13х100 мм <br>
                        - Цвет крышки: желтый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            активатором свертывания и гелем
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 5 мл <br>
                        - Размер: 13х100 мм <br>
                        - Цвет крышки: желтый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-3.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К2
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 2 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-4.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К2
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 2 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-5.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К2
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 3 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-6.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К2
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 3 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-7.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К3
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 2 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт 
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-8.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К3
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 2 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
            <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-9.png" alt="" title="">
            <div class="wrapper-text">
                <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                <div class="black-title">
                    <p>
                        ЭДТА К3
                    </p>
                </div>
                <p>
                    - Материал: пластик <br>
                    - Объём взятия крови: 3 мл <br>
                    - Размер: 13х75 мм <br>
                    - Цвет крышки: фиолетовый <br>
                    - Стерильность: да <br>
                    - Количество в упаковке: 100 шт
                </p>
                <div class="logo-img" href="#">
                    <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                </div>
            </div>
        </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-8.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            ЭДТА К3
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 3 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: фиолетовый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-11.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            натрий-гепарином
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Объём взятия крови: 9 мл <br>
                        - Размер: 16х100 мм <br>
                        - Цвет крышки: зеленый <br>
                        - Стерильность: да <br>
                        - Количество в упаковке: 50 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
            <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-12.png" alt="" title="">
            <div class="wrapper-text">
                <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                <div class="black-title">
                    <p>
                        цитратом натрия (3,2%)
                    </p>
                </div>
                <p>
                    - Материал: пластик <br>
                    - Объём взятия крови: 3.6 мл <br>
                    - Размер: 13х75 мм <br>
                    - Цвет крышки: синий <br>
                    - Стерильность: да <br>
                    - Количество в упаковке: 100 шт
                </p>
                <div class="logo-img" href="#">
                    <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                </div>
            </div>
        </a>
            <a href="#" class="item">
            <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-13.png" alt="" title="">
            <div class="wrapper-text">
                <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                <div class="black-title">
                    <p>
                        цитратом натрия (3,2%)
                    </p>
                </div>
                <p>
                    - Материал: пластик <br>
                    - Объём взятия крови: 1.8 мл <br>
                    - Размер: 13х75 мм <br>
                    - Цвет крышки: синий <br>
                    - Стерильность: да <br>
                    - Количество в упаковке: 100 шт
                </p>
                <div class="logo-img" href="#">
                    <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                </div>
            </div>
        </a>
            <a href="#" class="item">
            <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-14.png" alt="" title="">
            <div class="wrapper-text">
                <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                <div class="black-title">
                    <p>
                        цитратом натрия (3,2%)
                    </p>
                </div>
                <p>
                    - Материал: пластик <br>
                    - Объём взятия крови: 3.6 мл <br>
                    - Размер: 13х75 мм <br>
                    - Цвет крышки: синий <br>
                    - Стерильность: да <br>
                    - Количество в упаковке: 100 шт
                </p>
                <div class="logo-img" href="#">
                    <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                </div>
            </div>
        </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-15.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                    <div class="black-title">
                        <p>
                            цитратом натрия (3,8%), СОЭ
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>   
                        - Объём взятия крови: 2 мл <br>
                        - Размер: 13х75 мм <br>
                        - Цвет крышки: черный <br> 
                        - Стерильность: да <br>
                        - Количество в упаковке: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
            <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-16.png" alt="" title="">
            <div class="wrapper-text">
                <h4>ВАКУУМНАЯ ПРОБИРКА</h4>
                <div class="black-title">
                    <p>
                        цитратом натрия (3,8%), СОЭ
                    </p>
                </div>
                <p>
                    - Материал: пластик <br>
                    - Объём взятия крови: 1.6 мл <br>
                    - Размер: 13х75 мм <br>
                    - Цвет крышки: черный <br>
                    - Стерильность: да <br>
                    - Количество в упаковке: 100 шт
                </p>
                <div class="logo-img" href="#">
                    <img src="/images/GeneralLaboratoryConsumable/logo-img-interVac.png" alt="">
                </div>
            </div>
        </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-17.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пипетка (капиляр)</h4>
                    <div class="black-title">
                        <p>
                            определение СОЭ
                        </p>
                    </div>
                    <p>
                        - Длина: 200 мм <br>
                        - Градуировка:да <br>
                        - Упаковка: 200 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-18.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пипетка (капиляр)</h4>
                    <div class="black-title">
                        <p>
                            определение СОЭ
                        </p>
                    </div>
                    <p>
                        - Материал: стеклянная <br>
                        - Размер: 8х120 мм <br>
                        Объём: 1.28 мл <br>
                        Упаковка: 100 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/vacutainers-1-19.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пипетка (капиляр)</h4>
                    <div class="black-title">
                        <p>
                            СОЭ
                        </p>
                    </div>
                    <p>
                        - Материал: пластик <br>
                        - Размер: ??? мм <br>
                        - Количество в упаковке: 1 шт
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


