@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/product-category.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
        <link rel="stylesheet" href="/css/product-category-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class-bundle.js" asp-append-version="true"></script>
    </environment>
}


@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "ОБЩЕЛАБОРАТОРНЫЕ РАСХОДНЫЕ МАТЕРИАЛЫ",
        ClassTitle = "general-laboratory-consumable"
    });
}

<section class="product-category">
    <div class="header-product-category">
        <ul class="min-nav-menu">
            <li>
                <a href="/home/GeneralLaboratoryConsumable">Продукты/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumable"> Общелабораторные расходные материалы/</a>
            </li>
            <li>
                <a href="/home/GeneralLaboratoryConsumableEppendorfs">Эппендорфы</a>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="model-title">
            <h3>Эппендорфы</h3>
        </div>
        <div class="wrapper-model">
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-1.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Стерильные, без ДНКаз, РНКаз
                        </p>
                    </div>
                    <p>
                        - Объем: 0.2 мл <br>
                        - Количество в упаковке: 1000 шт <br>
                        - Градуировка: нет
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Объем: 1.5 мл <br>
                        - Количество в упаковке: 500 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Стерильные, без ДНКаз, РНКаз
                        </p>
                    </div>
                    <p>
                        - Объем: 1.5 мл <br>
                        - Количество в упаковке: 500 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-4.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Объем: 1.5 мл <br>
                        - Количество в упаковке: 1000 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-boeco.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-5.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Объем: 2.0 мл <br>
                        - Количество в упаковке: 500 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-6.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Объем: 2,0 мл <br>
                        - Количество в упаковке: 1000 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-boeco.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-7.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Характеристика: коническая, с закручивающейся крышкой <br>
                        - Объем: 15 мл <br>
                        - Количество в упаковке: 100 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#" class="item">
                <img class="prod-img" src="/images/GeneralLaboratoryConsumable/eppendorfs-1-8.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Пробирка центрифужная</h4>
                    <div class="black-title">
                        <p>
                            Не стерильные
                        </p>
                    </div>
                    <p>
                        - Характеристика: коническая, с закручивающейся крышкой <br>
                        - Объем: 50 мл <br>
                        - Количество в упаковке: 50 шт <br>
                        - Градуировка: да
                    </p>
                    <div class="logo-img" href="#">
                        <img src="/images/GeneralLaboratoryConsumable/logo-img-delta.png" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
