@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/product-category.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
        <link rel="stylesheet" href="/css/product-category-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
            <script src="~/js/home.js" asp-append-version="true"></script>
            <script src="~/js/add-hover-class.js" asp-append-version="true"></script>
        </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/add-hover-class-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Гематология",
        ClassTitle = "not-main-hematology-bg"
    });
}
<section class="product-category">
    <div class="header-product-category">
        <h2>Продукты/Гематология</h2>
    </div>
    <div class="wrapper">
    
        <div class="model-title">
            <h3>6 DIFF</h3>
            <p>анализаторы</p>
        </div>

        <div class="wrapper-model">
            <div class="item">
                        <img class="prod-img" src="/images/imgHematology/hematology-1-1.png" alt="" title="">
                        <div class="wrapper-text">
                            <h4>BC-700/BC-720</h4>
                            <div class="black-title">
                                <p>
                                    Автоматический
                                </p>
                            </div>
                            <p>
                                -3-chip CMOS sensor <br>
                                -FHD picture taking and video recording
                            </p>
                            <a class="to-learn-more" href="/home/HematologyDescriptionBC700720">
                                Узнать Больше
                            </a>
                            <div class="logo-img" href="">
                                <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                            </div>
                        </div>
                    </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-1-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>BC-700/BC-780</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionBC760780">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="model-title model-title-margin">
            <h3>5 DIFF</h3>
            <p>анализаторы</p>
        </div>

        <div class="wrapper-model">
            <div class="item">
                        <img class="prod-img" src="/images/imgHematology/hematology-1-5.png" alt="" title="">
                        <div class="wrapper-text">
                            <h4>BC-5000</h4>
                            <div class="black-title">
                                <p>
                                    Автоматический
                                </p>
                            </div>
                            <p>
                                -3-chip CMOS sensor <br>
                                -FHD picture taking and video recording
                            </p>
                            <a class="to-learn-more" href="/home/HematologyDescriptionMyndrayBC5000">
                                Узнать Больше
                            </a>
                            <div class="logo-img" href="">
                                <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                            </div>
                        </div>
                    </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-1-6.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>BC-5150</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionMyndrayBC5150">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-2-1.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Mythic 22</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionMythic22">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-cormay.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-3-2.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>ELITE H580</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionELITEH580">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-erba.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-3-1.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>H560</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionH560">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-erba.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="model-title model-title-margin">
            <h3>3 DIFF</h3>
            <p>анализаторы</p>
        </div>
        
        <div class="wrapper-model">
            <div class="item">
                        <img class="prod-img" src="/images/imgHematology/hematology-1-13.png" alt="" title="">
                        <div class="wrapper-text">
                            <h4>BC-20C</h4>
                            <div class="black-title">
                                <p>
                                    Автоматический
                                </p>
                            </div>
                            <p>
                                -3-chip CMOS sensor <br>
                                -FHD picture taking and video recording
                            </p>
                            <a class="to-learn-more" href="/home/HematologyDescriptionBC20S">
                                Узнать Больше
                            </a>
                            <div class="logo-img" href="">
                                <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                            </div>
                        </div>
                    </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-1-10.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>BC-30S</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionBC30S">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-2-5.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>Mythic18</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionMythic18">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-cormay.png" alt="">
                    </div>
                </div>
        </div>
            <div class="item">
                <img class="prod-img" src="/images/imgHematology/hematology-3-4.png" alt="" title="">
                <div class="wrapper-text">
                    <h4>H360</h4>
                    <div class="black-title">
                        <p>
                            Автоматический
                        </p>
                    </div>
                    <p>
                        -3-chip CMOS sensor <br>
                        -FHD picture taking and video recording
                    </p>
                    <a class="to-learn-more" href="/home/HematologyDescriptionH360">
                        Узнать Больше
                    </a>
                    <div class="logo-img" href="">
                        <img src="/images/imgHematology/logo-img-mindray.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@* <section id="at-the-right-edge" class="at-the-right-edge"> *@
@* 	<div class="items"> *@
@* 	<div class="wrapper"> *@
@* 	 *@
@* 	<div class="hed-big hed-big-1"> *@
@* 		<img src="/images/imgHematology/hed-big-one.svg" alt=""> *@
@* 	</div> *@
@* 	<div class="hed-min"> *@
@* 		<p>6 <span>DIFF</span></p> *@
@* 	</div> *@
@* *@
@* 	<div class="item"> *@
@* 		<img src="/images/imgHematology/hematology-1-1.png" alt=""> *@
@* 		<a href="/home/HematologyDescriptionBC700720"> *@
@* 			<h3>BC-700</h3> *@
@* 			<h3>BC-720</h3> *@
@* 			<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 		</a> *@
@* 	</div> *@
@* 	<div class="item"> *@
@* 		<img src="/images/imgHematology/hematology-1-2.png" alt=""> *@
@* 		<a href="/home/HematologyDescriptionBC760780"> *@
@* 			<h3>BC-760</h3> *@
@* 			<h3>BC-780</h3> *@
@* 			<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 		</a> *@
@* 	</div> *@
@* 		<div class="hed-min hed-min-but"> *@
@* 		<p>5 <span>DIFF</span></p> *@
@* 	</div> *@
@* *@
@* 	<div class="item"> *@
@* 		<img src="/images/imgHematology/hematology-1-5.png" alt=""> *@
@* 		<a href="/home/HematologyDescriptionMyndrayBC5000"> *@
@* 			<h3>BC-5000</h3> *@
@* 			<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 		</a> *@
@* 	</div> *@
@* 	<div class="item"> *@
@* 		<img src="/images/imgHematology/hematology-1-6.png" alt=""> *@
@* 		<a href="/home/HematologyDescriptionMyndrayBC5150"> *@
@* 			<h3>BC-5150</h3> *@
@* 			<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 		</a> *@
@* 	</div>	 *@
@* <div class="item"> *@ 
@* 			<img src="/images/imgHematology/hematology-2-1.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionMythic22"> *@
@* 				<h3>Mythic22</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@











@* 	<div class="hed-min hed-min-but"> *@
@* 	    <p>3 <span>DIFF</span></p> *@
@* 	</div> *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-1-13.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionBC20S"> *@
@* 				<h3>BC-20S</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-1-10.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionBC30S"> *@
@* 				<h3>BC-30S</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* *@
@* 		<div class="hed-big hed-big-but hed-big-2"> *@
@* 		<img src="/images/imgHematology/hed-big-two.svg" alt=""> *@
@* 	</div> *@












@* 	<div class="hed-min hed-min-but"> *@
@* 		<p>5 <span>DIFF</span></p> *@
@* 	</div> *@
@* 		
@* 		<div class="hed-min"> *@
@* 			<p>3 <span>DIFF</span></p> *@
@* 		</div> *@
@* *@
@* *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-2-5.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionMythic18"> *@
@* 				<h3>Mythic18</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* *@
@* *@
@* 		<div class="hed-big hed-big-but hed-big-3"> *@
@* 			<img src="/images/imgHematology/hed-big-three.svg" alt=""> *@
@* 		</div> *@
@* 		<div class="hed-min hed-min-but"> *@
@* 			<p>5 <span>DIFF</span></p> *@
@* 		</div> *@
@* *@
@* *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-3-2.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionELITEH580"> *@
@* 				<h3>ELITE  H580</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-3-1.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionH560"> *@
@* 				<h3>H560</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* *@
@* 		<div class="hed-min hed-min-but"> *@
@* 			<p>3 <span>DIFF</span></p> *@
@* 		</div> *@
@* *@
@* 		<div class="item"> *@
@* 			<img src="/images/imgHematology/hematology-3-4.png" alt=""> *@
@* 			<a href="/home/HematologyDescriptionH360"> *@
@* 				<h3>H360</h3> *@
@* 				<img src="/images/icon/white-arrow.svg" alt="" title=""> *@
@* 			</a> *@
@* 		</div> *@
@* *@
@* 	</div> *@
@* 	</div> *@
@* 	<div class="bg"></div> *@
@* </section> *@