@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
	    <script src="~/js/home.js" asp-append-version="true"></script>
	    <script src="~/js/switch-in-products.js" asp-append-version="true"></script>
    </environment>
	<environment exclude="Development">
		<script src="~/js/home-bundle.js" asp-append-version="true"></script>
		<script src="~/js/switch-in-products-bundle.js" asp-append-version="true"></script>
	</environment>
}


@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Гемостаз"
    });
}

<section id="at-the-right-edge" class="at-the-right-edge">
	<div class="items">
		<div class="buttons">
			<button class="pri active-btn">Приборы</button>
			<button class="reg">Реагенты </button>
		</div>
		<div class="wrapper">
			
			<div class="hed-min">
				<p><span>Mindray</span></p>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/C3510-2-2.png" alt="">
				<a href="/home/C3510">
					<h3>C3510</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/C3100-2-1.png" alt="">
				<a href="/home/C3100">
					<h3>C3100</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/C2000-1-2-5.png" alt="">
				<a href="/home/C20001">
					<h3>C2000-1</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/C2000-2-2-4.png" alt="">
				<a href="/home/C20002">
					<h3>C2000-2</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/C2000-4-2-3.png" alt="">
				<a href="/home/C20004">
					<h3>C2000-4</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="hed-min">
				<p><span>Erba</span></p>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/ECL412-1-2.png" alt="">
				<a href="/home/ECL412">
					<h3>ECL 412</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/ECL105-1-1.png" alt="">
				<a href="/home/ECL105">
					<h3>ECL 105</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="hed-min">
				<p><span>BioLabo</span></p>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/Solea100-2-5.png" alt="">
				<a href="/home/Solea100">
					<h3>Solea 100</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/BioSolea4-2-5.png" alt="">
				<a href="/home/BioSolea4">
					<h3>Bio Solea 4</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/BioSolea2-2-5.png" alt="">
				<a href="/home/BioSolea2">
					<h3>Bio Solea 2</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
		</div>
		<div class="wrapper wrapper-none">
			<div class="item">
				<img src="/images/Hemostasis/HemostasisMindray.png" alt="">
				<a href="/home/HemostasisMindray">
					<h3>Mindray</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/hemostasis-erba.png" alt="">
				<a href="/home/HemostasisErba">
					<h3>Erba</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/HemostasisBioLabo.png" alt="">
				<a href="/home/HemostasisBioLabo">
					<h3>BioLabo</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
			<div class="item">
				<img src="/images/Hemostasis/HemostasisDelta.png" alt="">
				<a href="/home/HemostasisDelta">
					<h3>Delta</h3>
					<img src="/images/icon/white-arrow.svg" alt="" title="">
				</a>
			</div>
		</div>
	</div>
	<div class="bg"></div>
</section>