@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Гемостаз"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title header-title-red">
            <h3>
                Реагенты
            </h3>
        </div>
        <div class="header-title header-mt">
            <h3>
                BioLabo
            </h3>
        </div>
        <div class="wrapper wrapper-reag">
            <div class="block">
                <div class="hed img img-7">
                    <p>Клоттинговые тесты</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">
                            PT (Low ISI) - BIO-TP LI <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PT (Low ISI) - BIO-TP LI <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PT (Low ISI) - BIO-TP LI <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PT - BIO-TP <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PT - BIO-TP <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PT - BIO-TP <br>
                            R1 10x2 mL; R2 1x25 mL <br>
                            R1 6x4 mL; R2 1x25 mL <br>
                            R1 6x12 mL; R2 1x80 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            APTT Kaolin - BIO-CK <br>
                            R1 6 x 3 mL <br>
                            R1 6x10 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            APTT Kaolin - BIO-CK <br>
                            10 x 5 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            CaCl2 <br>
                            R2 1 x 60 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Fibrinogen - BIO-FIBRI <br>
                            R1 6x4 mL; R2 1x125 mL <br>
                            R1 6x10 mL; R2 2x150 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Thrombin Time - BIO TT <br>
                            R1 12 x 2 mL
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="hed img img-7">
                    <p>Иммунологические тесты</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">
                            DDimer - Turbidimetric Immunoassay <br>
                            R1 3 x 7 mL; R2 3x4; mL R3 2x1 mL; R4 2x7 mL
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="hed img img-7">
                    <p>Факторы (внутренний путь)</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">
                            F VIII Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F IX Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F XI Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F XII Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="hed img img-14">
                    <p>Факторы (внешний путь)</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">
                            F II Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F V Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F VII Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            F X Deficient Plasma <br>
                            R1 6 x 1 mL
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="store-drg-international" href="https://store.drg-international.com/">Более>></a>
    </div>
    <div class="bg"></div>
</section>