@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "ИФА"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title header-title-red">
            <h3>
                Реагенты
            </h3>
        </div>
        <div class="header-title header-mt">
            <h3>
                MonoBind
            </h3>
        </div>
        <div class="wrapper wrapper-reag">
            <div class="block">
                <div class="hed img img-1">
                    <p>Щитовидная панель</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">TSH - тиреотропный гормон</a>
                    </li>
                    <li>
                        <a href="/pdf/FreeT3.pdf">FT3 - свободный трийодтиронин </a>
                    </li>
                    <li>
                        <a href="#">T4 - общий тироксин</a>
                    </li>
                    <li>
                        <a href="#">FT4 - свободный тироксин</a>
                    </li>
                    <li>
                        <a href="#">Anti-TG - антитела к тиреоглобулину</a>
                    </li>
                    <li>
                        <a href="#">Anti - TPO - антитела к тиреоидной пероксидазе</a>
                    </li>
                </ul>
            </div>  
            <div class="block">
                <div class="hed img img-3">
                    <p>Репродуктивная панель</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">FSH - фолликулостимулирующий гормон</a>
                    </li>
                    <li>
                        <a href="#">PRL - пролактин</a>
                    </li>
                    <li>
                        <a href="#">17-OH Progesteron - 17-OH прогестерон</a>
                    </li>
                    <li>
                        <a href="#">LH - лютеинизирующий гормон</a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="hed img img-5">
                    <p>Панель костной ткани</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">PTH - паратиреоидный гормон</a>
                    </li>
                    <li>
                        <a href="#">Calcitonin - кальцитонин</a>
                    </li>
                    <li>
                        <a href="#">Vit D - Витамин Д</a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="hed img img-7">
                    <p>Витамины</p>
                </div>
                <ul class="list-reag">
                    <li>
                        <a href="#">
                            Vit B9 - Витамин В9
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Vit B12 – Витамин В12
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Vit D - Витамин Д
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>