@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/hematology.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/hematology-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Иммунохимия"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Хемилюминесцентный анализатор Mindray CL-1200i
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/immunochemistry/immunochemistry-1.jpg" alt="">
                <img class="box1 img-big" src="/images/immunochemistry/immunochemistry-11.jpg" alt="">
                <img class="box2 img-min" src="/images/immunochemistry/immunochemistry-2.jpg" alt="">
                <img class="box3 img-min img-c" src="/images/immunochemistry/immunochemistry-3.jpg" alt="">
                <img class="box4 img-min" src="/images/immunochemistry/immunochemistry-4.jpg" alt="">
            </div>
            <div class="item-title">
                <h3>Описание</h3>
                <ul class="big-list">
                    <li>Один из самых быстрых настольных хемилюминесцентных анализаторов</li>
                    <li>Высокая производительность в небольшом настольном корпусе</li>
                    <li>Непрерывная загрузка и выгрузка образцов и реагентов во время работы.</li>
                    <li>Охлаждаемый до 2~8 °C постоянно вращающийся карусельный механизм с реагентами на 25 мест</li>
                    <li>Реагенты остаются в аппарате стабильным до 56 дней</li>
                    <li>Зона загрузки образцов на 60 проб</li>
                    <li>Возможно приоритетное ускорение теста STAT</li>
                    <li>Точно контролируемые шприцевые моторы обеспечивают всасывание жидкости с высокой точностью</li>
                    <li>Программируемое определение уровня жидкости, обнаружение сгустков, защита от столкновения в горизонтальной и вертикальной плоскостях</li>
                    <li>Эффективная промывка зонда изнутри и снаружи промывочным буферным раствором под высоким давлением</li>
                    <li>Программируемая улучшенная промывка зонда с моющим средством</li>
                    <li>4-этапное магнитное разделение при точно контролируемой температуре</li>
                    <li>Стабильная надежность в работе с улучшенной системой детекции при использовании ФЭУ</li>
                    <li>Автоматизированное смешивание реакционного раствора на вортексе без какой-либо контаминации</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Пропускная способность: до 180 тестов/час</li>
                        <li>Принцип измерения: Платформа микронных суперпарамагнитных частиц с реагентами, мечеными щелочной фосфатазой (ЩФ), и субстратом в виде AMPPD</li>
                        <li>Блок для образцов: Устройство загрузки образцов загрузка и выгрузка штативов с образцами без прерывания процесса</li>
                        <li>Штатив для образцов: 10-местный штатив</li>
                        <li>Вместимость для образцов: До 60 образцов в одной партии</li>
                        <li>Зонд для взятия образцов: Стальной зонд, определение уровня жидкости, обнаружение сгустков, защита от столкновения в горизонтальной и вертикальной плоскостях</li>
                        <li>Объем отбираемого образца: 10~200 мкл, с шагом 1 мкл</li>
                        <li>Разведение образца: Автоматическое разведение 1: 2 ~ 1: 80</li>
                        <li>Диск для реагентов: 25 мест для реагентов, непрерывная загрузка, смешивание магнитных частиц в режиме реального времени</li>
                        <li>Система охлаждения: 2~8 °C</li>
                        <li>Штатив для реагентов: 50 тестов на штатив, 100 тестов на штатив</li>
                        <li>Сканирование реагентов: с применением встроенного/внешнего сканера штрих-кода</li>
                        <li>Зонд для взятия реагентов: стальной зонд, определение уровня жидкости, обнаружение пузырьков газа, защита от столкновения в горизонтальной и вертикальной плоскостях</li>
                        <li>Объем отбираемого реагента: 20~200 мкл, с шагом 1 мкл</li>
                        <li>Субстратная система: Флакон субстрата с прокалываемым дном на 300/500 тестов</li>
                        <li>Загрузка субстрата: возможна беспрерывная загрузка во время проведения анализа</li>
                        <li>Подогрев субстрата: Постоянное подогревание</li>
                        <li>Объем всасывания : 200 мкл</li>
                        <li>Блок магнитного разделения: 4-этапное магнитное разделение</li>
                        <li>Температура: Точность: 37±0,3 °C, колебания: ±0,2°C</li>
                        <li>Режим детекции : счет фотонов</li>
                        <li>Детектор сигналов: фотоэлектронный умножитель (ФЭУ)</li>
                        <li>Калибровка ФЭУ: эталонный светодиодный модуль</li>
                        <li>Устройство карусельного типа для проведения реакций: 75 мест</li>
                        <li>Температура: точность: 37±0,3 °C, колебания: ±0,2°C</li>
                        <li>Блок смешивания: автоматизированное смешивание на вортексе</li>
                        <li>Кювета: одноразовые пластиковые кюветы</li>
                        <li>Загрузка кювет: за один раз могут быть загружены 2 блока, по 88 кювет в одном блоке; загрузка и выгрузка без прерывания процесса</li>
                        <li>Сбор отходов: контейнер для отходов, 185 кювет на коробку</li>
                        <li>Электропитание: 110/115 В~, 60 Гц; 220-240 В~, 50 Гц; 220/230 В~, 60 Гц</li>
                        <li>Входная мощность: 2000 ВА</li>
                        <li>Рабочая температура: 15~30 °C</li>
                        <li>Относительная влажность: 35~80% отн.влаж., без конденсации</li>
                        <li>Основное устройство: 1400 мм * 760 мм * 600 мм (Ш * Г * В)</li>
                        <li>Вес: 225 кг</li>
                        <li>Высотность: 400 м ~ 4000 м</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/immunochemistry/immunochemistry-increasing.jpg" alt="">
                        </div>
                        <div class="list">
                            <div class="hed img-7">
                                <p>Щитовидная панель</p>
                            </div>
                            <ul class="none-ul">
                                <li>TSH - тиреотропный гормон</li>
                                <li>Т3 - общий трийодтиронин</li>
                                <li>FT3 - свободный трийодтиронин</li>
                                <li>T4 - общий тироксин</li>
                                <li>FT4 - свободный тироксин</li>
                                <li>Anti-TG - антитела к тиреоглобулину</li>
                                <li>Anti - TPO - антитела к тиреоидной пероксидазе</li>
                                <li>TG - тиреоглобулин</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-9">
                                <p>Репродуктивная панель</p>
                            </div>
                            <ul class="none-ul">
                                <li>FSH - фолликулостимулирующий гормон</li>
                                <li>LH - лютеинизирующий гормон</li>
                                <li>PRL - пролактин</li>
                                <li>E2 - эстрадиол</li>
                                <li>E3 free - свободный эстриол</li>
                                <li>Progesteron - прогестерон</li>
                                <li>Testosterone - тестостерон</li>
                                <li>DHEA-S - дегидроэпиандростерон-сульфат</li>
                                <li>HCG - хорионический гонадотропин</li>
                                <li>AMH - антимюллеровый гормон</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-11">
                                <p>Панель костной ткани</p>
                            </div>
                            <ul class="none-ul">
                                <li>PTH-паратиреоидный гормон</li>
                                <li>Calcitonin-кальцитонин</li>
                                <li>Vit D tot.-25-ОН витамин D</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-8">
                                <p>Инфекционные заболевания</p>
                            </div>
                            <ul class="none-ul">
                                <li>HIV Combo - ВИЧ</li>
                                <li>HBsAg - поверхностный антиген вирусного гепатита B</li>
                                <li>Anti-НВs - антитела к HBs-антигену вируса гепатита B</li>
                                <li>НВеАg - НВе антиген</li>
                                <li>Anti-HBe - антитела к НВе антигену вируса гепатита B</li>
                                <li>Anti-HBc - антитела к НВc антигену вируса гепатита B</li>
                                <li>Aпtі-НСV - антитела к антигенам вируса гепатита C</li>
                                <li>Anti-TP - антитела к Тreponema раІІіdum</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-10">
                                <p>Опухолевые маркеры</p>
                            </div>
                            <ul class="none-ul">
                                <li>CEA - раковый эмбриональный антиген</li>
                                <li>CA125 - раковый антиген 125</li>
                                <li>CA15-3 - раковый антиген 15-3</li>
                                <li>CA19-9 - раковый антиген 19-9</li>
                                <li>PSA total - простат-специфический антиген (общий)</li>
                                <li>PSA free - простат-специфический антиген (свободный)</li>
                                <li>NSE - нейрон-специфическая энолаза</li>
                                <li>CYFRA 21-1 - растворимый фрагмент цитокератина 19</li>
                                <li>CA 72-4 - раковый антиген 72-4</li>
                                <li>PG I - пепсиноген I</li>
                                <li>PG II - пепсиноген II</li>
                                <li>SCCA - антиген плоскоклеточной карциномы</li>
                                <li>HE4 - человеческий эпидидимальный белок 4</li>
                                <li>Pro GRP - маркер мелкоклеточного бронхогенного рака</li>
                                <li>CA50 - раковый антиген 50</li>
                                <li>CA 242 - раковый антиген 242</li>
                                <li>Ferritin – ферритин</li>
                                <li>AFP - альфа-фетопротеин</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-12">
                                <p>Сердечные маркеры</p>
                            </div>
                            <ul class="none-ul">
                                <li>CK-MB-креатинкиназа МВ</li>
                                <li>MYO-миоглобин</li>
                                <li>Trop I-тропонин I</li>
                                <li>PгоВNP -натрийуретический пептид типа В</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-13">
                                <p>Сахарный диабет</p>
                            </div>
                            <ul class="none-ul">
                                <li>Insulin-инсулин</li>
                                <li>C-peptide-C-пептида</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-14">
                                <p>Функция надпочечников</p>
                            </div>
                            <ul class="none-ul">
                                <li>Cortisol-кортизол</li>
                                <li>AKTG-адренокортикотропный гормон</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-15">
                                <p>Фиброз печени</p>
                            </div>
                            <ul class="none-ul">
                                <li>LN-ламинин</li>
                                <li>HA-гиалуроновая кислота</li>
                                <li>PIIINP-аминоконцевой пропептид проколлагена III типа</li>
                                <li>CIV-коллаген IV</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-16">
                                <p>Анемия</p>
                            </div>
                            <ul class="none-ul">
                                <li>Ferritin-ферритин</li>
                                <li>Vit B12-витамина В12</li>
                                <li>Vit B9-витамин В9 (Фолиевая кислота)</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-17">
                                <p>Гипертензия</p>
                            </div>
                            <ul class="none-ul">
                                <li>Renin-ренин</li>
                                <li>Aldosteron-альдостерон</li>
                            </ul>
                        </div>
                        <div class="list">
                            <div class="hed img-18">
                                <p>Воспаление</p>
                            </div>
                            <ul class="none-ul">
                                <li>PCT-прокальцитонин</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                        <div class="img">
                            <img src="/images/img/consumables.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p></p>
                    </div>
                    <div class="emptyTable">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>