@{
	ViewData["Title"] = "Home Page";
}



@section Styles {
	<link rel="stylesheet" href="~/css/swiper-bundle.min.css">
	<environment include="Development">
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="/css/home-bundle.css" asp-append-version="true">
	</environment>
}

@section Scripts {
	<script src="~/js/swiper-bundle.min.js"></script>
	<environment include="Development">
		<script src="~/js/home.js" asp-append-version="true"></script>
		<script src="~/js/add-hover-class.js" asp-append-version="true"></script>
		
	</environment>
    <environment exclude="Development">
	    <script src="~/js/home-bundle.js" asp-append-version="true"></script>
	    <script src="~/js/add-hover-class-bundle.js" asp-append-version="true"></script>
    </environment>
}

<section class="main">
	<div class="wrapper">
		<h1>
			Мы первый и единственный производитель <br> тест-наборов для диагностики in vitro в Армении
		</h1>
		<p>
			Since 1991
		</p>
	</div>
</section>
<section class="with-one-item">
	<div class="wrapper">
		<div class="item-img">
			<img src="/images/img/one-item-new-main.png" alt="">
		</div>
		<div class="item-title">
			<h2>BC-720</h2>
			<ul class="top-ul">
				<li>Tехнология SF Cube</li>
                <li>Измерение СОЭ</li>
                <li>NRBC/RET*, PLT-H/PLT-O*/IPF</li>
                <li>Автоматическая калибровка</li>
                <li>Хранение до 130 000 результатов</li>
			</ul>
			<div>
				<p>Производительность:</p>
				<ul class="bot-ul">
					<li>1 CD - 80 тестов/ч </li>
					<li>2 CDR - 45 тестов/ч </li>
					<li>3 CD+ESR - 40 тестов/ч </li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="news" class="news">
	<div class="wrapper">
		<div class="item-red">
			<p>
				НОВОСТИ
			</p>
		</div>
		<div class="item-bg">
			<h3>
				ВСТРЕЧА ОФИЦИАЛЬНЫХ ДИСТРИБЮТОРОВ MINDRAY
			</h3>
			<p>
				Представители ООО «Дельта» присутствовали на ежегодной встрече официальных дистрибьюторов Mindray (страны СНГ), состоявшейся в г. Алматы 26 февраля 2023 года.
			</p>
		</div>
	</div>
</section>
<section class="swiper-section swiper-section-prod">
	<div class="swiper mySwiper">
		<h2>
			Продукты
		</h2>
		<div class="swiper-wrapper">
			<a href="/home/HematologyDescriptionBC700720" class="swiper-slide">
				<img src="/images/img/swiper-BC-700BC-720.png" alt="">
				<div class="text">
					<h3>BC-700 BC-720</h3>
					<p>
						NRBC/RET*, PLT-H/PLT-O*/IPF <br>
						CD - 80 тестов/ч <br>
						CDR - 45 тестов/ч <br>
						CD+ESR - 40 тестов/ч
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/HematologyDescriptionBC760780" class="swiper-slide">
				<img src="/images/img/swiper-BC-760BC-780.png" alt="">
				<div class="text">
					<h3>BC-760 BC-780</h3>
					<p>
						NRBC/RET*, PLT-H/PLT-O*/IPF <br>
                        CD - 80 тестов/ч <br>
                        CDR - 45 тестов/ч <br>
                        CD+ESR - 40 тестов/ч 
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/HematologyDescriptionMyndrayBC5150" class="swiper-slide">
				<img src="/images/img/swiper-BC-5150.png" alt="">
				<div class="text">
					<h3>BC-5150</h3>
					<p>
						Измерение 25 параметров <br>
                        60 образцов в час <br>
                        3 гистограммы WBC, RBC, PLT
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/HematologyDescriptionMythic22" class="swiper-slide">
				<img src="/images/img/swiper-Mythic22.png" alt="">
				<div class="text">
					<h3>Mythic 22</h3>
					<p>
						Измерение 24 параметров <br>
                        50 образцов в час <br>
                        2 гистограммы для RBC и PLT
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/HematologyDescriptionELITEH580" class="swiper-slide">
				<img src="/images/img/swiper-ElyteH580.png" alt="">
				<div class="text">
					<h3>Elyte H580</h3>
					<p>
						Измерение 29 параметров <br>
						80 образцов в час <br>
						3 гистограммы (RBC,WBC,PLT)
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/EU3000" class="swiper-slide">
				<img src="/images/img/swiper-EU3000.png" alt="">
				<div class="text">
					<h3>EU-3000</h3>
					<p>
						Объем образца: 0.75 - 1.25 мл <br>
						Производительность: <br>
						гибридный режим – 40 т/ч <br> 
						биохимия – 120 т/ч
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/Immunochemistry1200" class="swiper-slide">
				<img src="/images/img/swiper-CL1200i.png" alt="">
				<div class="text">
					<h3>CL-1200i</h3>
					<p>
						Объем образца: 10~200 мкл <br>
						Производительность: <br>
						до 180 т/ч
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/ElectrolytesEC90" class="swiper-slide">
				<img src="/images/img/swiper-EC90.png" alt="">
				<div class="text">
					<h3>EC-90</h3>
					<p>
						Объем образца: 35 и ≥70 мкл <br>
						Производительность: <br>
						90 тестов/ч
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/MicroWash1100" class="swiper-slide">
				<img src="/images/img/swiper-MicroWash1100.png" alt="">
				<div class="text">
					<h3>Micro Wash 1100</h3>
					<p>
						8 канальный автоклавируемый <br>
						Программируемое <br> 
						от 50 до 500 µl <br>
                        объем аспирации: < 2 µl
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
			<a href="/home/BiochemistryA15" class="swiper-slide">
				<img src="/images/img/swiper-A15.png" alt="">
				<div class="text">
					<h3>BioSystems A-15</h3>
					<p>
						Объем пробы : 3-40 мкл <br> 
						Производительность: <br>
						150 тестов\час
					</p>
					<span class="and">
						Более
					</span>
				</div>
			</a>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</section>
<section class="about-us-new">
	<div class="wrapper">
		<h2>
			О нас
		</h2>
		<div>
			<p>
				Основная деятельность компании является разработка и производство диагностических тест-систем для клинической химии и биохимии. При этом Дельта импортирует и поставляет реагенты, лабораторные материалы и оборудование для диагностических, исследовательских и экологических целей более чем из 20 европейских, американских и других компаний. Основной целью компании является удовлетворение потребностей клиентов путем предоставления надежного оборудования и тест-наборов, в основном адаптированных к условиям и оборудованию различных диагностических лабораторий.
			</p>
		</div>
	</div>
</section>
<section class="swiper-section partners-new">
	<div class="swiper mySwiper">
    	<h2>
    		Партнеры
    	</h2>
    	<div class="swiper-wrapper">
    		<div class="swiper-slide">
    			<img src="/images/img/partners-new-item-1.png" alt="">
            </div>
    		<div class="swiper-slide">
    			<img src="/images/img/partners-new-item-2.png" alt="">
            </div>
    		<div class="swiper-slide">
    			<img src="/images/img/partners-new-item-3.png" alt="">
    		</div>
    		<div class="swiper-slide">
    			<img src="/images/img/partners-new-item-4.png" alt="">
    		</div>
    		<div class="swiper-slide">
    			<img src="/images/img/partners-new-item-5.png" alt="">
    		</div>
    	</div>
    	<div class="swiper-pagination"></div>
    	<div class="swiper-button-next"></div>
    	<div class="swiper-button-prev"></div>
    </div>
</section>



<p class="old-code">
	//old code
</p>
@* <section class="main"> *@
@* 	<div class="wrapper"> *@
@* 		<h1> *@
@* 			Мы первый и единственный производитель наборов  *@
@* 			для диагностики in vitro в Армении *@
@* 		</h1> *@
@* 		<p> *@
@* 			Since 1991 *@
@* 		</p> *@
@* 	</div> *@
@* </section> *@
@* <section class="advertising-cards"> *@
@* 	<div class="wrapper"> *@
@* 		<img class="cards-bg" src="images/img/cards-bg.jpg" alt="" title=""> *@
@* 		<div class="items"> *@
@* 			<div class="item"> *@
@* 				<img class="arrow_pk" src="images/icon/arrow_pk.svg" alt="" title=""> *@
@* 				<img src="images/icon/test-img-card.png" alt="" title=""> *@
@* 				<div> *@
@* 					<h3>BS-600M</h3> *@
@* 					<p> *@
@* 						In the era of medical transformation, we never. *@
@* 					</p> *@
@* 				</div> *@
@* 				<img class="arrow-mobail" src="images/icon/arrow_mobail.svg" alt="" title=""> *@
@* 			</div> *@
@* 			<div class="item"> *@
@* 				<img class="arrow_pk" src="images/icon/arrow_pk.svg" alt="" title=""> *@
@* 				<img src="images/icon/test-img-card.png" alt="" title=""> *@
@* 				<div> *@
@* 					<h3>BS-600M</h3> *@
@* 					<p> *@
@* 						In the era of medical transformation, we never. *@
@* 					</p> *@
@* 				</div> *@
@* 				<img class="arrow-mobail" src="images/icon/arrow_mobail.svg" alt="" title=""> *@
@* *@
@* 			</div> *@
@* 			<div class="item"> *@
@* 				<img class="arrow_pk" src="images/icon/arrow_pk.svg" alt="" title=""> *@
@* 				<img src="images/icon/test-img-card.png" alt="" title=""> *@
@* 				<div> *@
@* 					<h3>BS-600M</h3> *@
@* 					<p> *@
@* 						In the era of medical transformation, we never. *@
@* 					</p> *@
@* 				</div> *@
@* 				<img class="arrow-mobail" src="images/icon/arrow_mobail.svg" alt="" title=""> *@
@* 			</div> *@
@* 			<div class="item"> *@
@* 				<img class="arrow_pk" src="images/icon/arrow_pk.svg" alt="" title=""> *@
@* 				<img src="images/icon/test-img-card.png" alt="" title=""> *@
@* 				<div> *@
@* 					<h3>BS-600M</h3> *@
@* 					<p> *@
@* 						In the era of medical transformation, we never. *@
@* 					</p> *@
@* 				</div> *@
@* 				<img class="arrow-mobail" src="images/icon/arrow_mobail.svg" alt="" title=""> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
@* <section class="one-product"> *@
@* 	<div class="wrapper"> *@
@* 		<div> *@
@* 			<img src="images/icon/one-product-test.png" alt="" title=""> *@
@* 			<div class="title"> *@
@* 				<h3>HD3 Camera System</h3> *@
@* 				<ul> *@
@* 					<li>3-chip CMOS sensor</li> *@
@* 					<li>FHD picture taking and video recording with USB port</li> *@
@* 					<li>Advanced parfocal technology</li> *@
@* 					<li>2X optical zoom</li> *@
@* 					<li>Focal length: 14mm-30mm</li> *@
@* 				</ul> *@
@* 				<div class="items"> *@
@* 					<div class="item"> *@
@* 						<div class="number"> *@
@* 							1 *@
@* 						</div> *@
@* 						<p>Laparoscopes</p> *@
@* 					</div> *@
@* 					<div class="item"> *@
@* 						<div class="number"> *@
@* 							2 *@
@* 						</div> *@
@* 						<p>HS50 Insufflator</p> *@
@* 					</div> *@
@* 					<div class="item"> *@
@* 						<div class="number"> *@
@* 							3 *@
@* 						</div> *@
@* 						<p>HB200L LED Light Source</p> *@
@* 					</div> *@
@* 				</div> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
@* <section id="news" class="news"> *@
@* 	<div class="side-header"> *@
@* 		<p> *@
@* 			Новости *@
@* 		</p> *@
@* 	</div> *@
@* 	<div class="wrapper"> *@
@* 		<div> *@
@* 			<h2> *@
@* 				Расширенные сценарии с беспроводным датчиком *@
@* 			</h2> *@
@* 			<p> *@
@* 				Непревзойденное качество изображения и расширенные инструменты анализа. Легкий вес и удобство переноски. Подключение к серии TEX20 и мобильным устройствам. Степень водонепроницаемости IP68 для дезинфекции методом полного погружения. Быстрая зарядка. *@
@* 			</p> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
@* <section class="slider-products"> *@
@* 	<div class="wrapper"> *@
@* 		<h3> *@
@* 			Products *@
@* 		</h3> *@
@* 		<div class="cards"> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test1.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						BeneVision N1 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test2.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						SV800/SV600 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test3.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						BeneVision N1 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test4.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						BeneVision N1 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test2.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						SV800/SV600 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test2.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						SV800/SV600 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<img src="images/img/slider-products-test2.png" alt="" title=""> *@
@* 				<div> *@
@* 					<p> *@
@* 						SV800/SV600 *@
@* 					</p> *@
@* 				</div> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
@* <section class="about-us"> *@
@* 	<div class="wrapper"> *@
@* 		<h3> *@
@* 			About Us *@
@* 		</h3> *@
@* 		<div> *@
@* 			<img src="images/img/about-us-bg.jpg" alt="" title=""> *@
@* 			<div> *@
@* 				<h3> *@
@* 					О нас *@
@* 				</h3> *@
@* 				<p> *@
@* 					Инновации уходят корнями в кровь Mindray с момента основания компании 30 лет назад, поскольку мы считаем, что они являются ключом к тому, чтобы сделать лучшие медицинские услуги доступными для всех. В эпоху медицинских преобразований мы никогда. *@
@* 				</p> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
@* <section class="partners"> *@
@* 	<div class="wrapper"> *@
@* 		<h3>Наши партнеры</h3> *@
@* 		<div class="cards"> *@
@* 			<div class="card"> *@
@* 				<a href=""> *@
@* 					<img src="/images/img/partner1.png" alt="" title=""> *@
@* 				</a> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<a href=""> *@
@* 					<img src="/images/img/partner2.png" alt="" title=""> *@
@* 				</a> *@
@* 			</div> *@
@* 			<div class="card"> *@
@* 				<a href=""> *@
@* 					<img src="/images/img/partner3.png" alt="" title=""> *@
@* 				</a> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </section> *@
<p class="old-code">
	//old code
</p>








@* <div> *@
@* 	<h1>Home page</h1> *@
@* 	<p>Home page content</p> *@
@* </div> *@

@* <button class="m-trigger" data-modal-id="application"> *@
@* 	Оставить заявку *@
@* </button> *@


@* *@
@* <form class="review-form" novalidate> *@
@* 	<h2>Оставьте отзыв</h2> *@
@* 	<div> *@
@* 		<input placeholder="Введите имя" type="text" name="name"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите номер" type="tel" name="phone"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите email" type="email" name="email"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите текст отзыва" type="text" name="text"> *@
@* 	</div> *@
@* 	<div> *@
@* 		<input placeholder="Введите оценку от 0 до 9" type="number" name="rate" value="0"> *@
@* 	</div> *@
@* 	<p>*Оставляя отзыв, Вы потверждаете согласие согласие на обработку введенных персональных данных</p> *@
@* 	<div class="validation"></div> *@
@* 	<button type="submit">Оставить отзыв</button> *@
@* </form> *@


@* <p>Отзывы</p> *@
@* <div class="reviews-content"> *@
@* </div> *@
