@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CompanyModel>


@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/partners-not-section.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="/css/partners-not-section-bundle.css" asp-append-version="true">
	</environment>
}

@section Scripts {
	<environment include="Development">
    	<script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
    	<script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}



@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Партнеры"
    });
}


<section class="at-the-right-edge">
	<div id="partners" class="items">
		@{
            var sortedCompanies = Model.OrderBy(company => company.Id);
        }
        
        @foreach (var company in sortedCompanies)
        {
            <div class="item">
                <img src="/images/companies/@company.Logo" alt="" title="">
                <div>
                    <p>@company.Description</p>
                </div>
            </div>
        }
	</div>
	<div class="bg"></div>
</section>