@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Исследование эякулята"
    });
}

<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Автоматический анализатор качества спермы SQA-V (West Medica)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/ejaculateStudy/SQAV_1.png" alt="">
                <img class="box1 img-big" src="/images/ejaculateStudy/SQAV_11.png" alt="">
                <img class="box2 img-min" src="/images/ejaculateStudy/SQAV_2.png" alt="">
                <img class="box3 img-min img-c" src="/images/ejaculateStudy/SQAV_3.png" alt="">
                <img class="box4 img-min" src="/images/ejaculateStudy/SQAV_4.png" alt="">
            </div>
            <div class="item-title">
                <h3>Описаниe</h3>
                <ul class="big-list">
                    <li>Автоматический анализатор спермы со встроенным видеомикроскопом</li>
                    <li>Самый совершенный анализатор качества спермы</li>
                    <li>Быстрое проведение автоматического анализа менее чем за 75 секунд</li>
                    <li>Расчет производных, интегрированных и дополнительных информативных параметров</li>
                    <li>Автоматическая корректировка анализа для свежей, замороженной или обработанной спермы</li>
                    <li>Возможность визуализации на экране с эффектом стоп-кадра; распечатка полного результата анализа</li>
                    <li>Встроенная память до 1000 результатов</li>
                    <li>РС-совместимый, возможность передачи на компьютер изображений и результатов тестов</li>
                    <li>Режим "Повышенной чувствительности" для определения азооспермии и при вазэктомии; возможность видеозаписи</li>
                    <li>Изменяемое оптическое увеличение до 500х</li>
                    <li>Визуализация препарата на предметном стекле или в капилляре</li>
                    <li>Одноразовые самоаспирирующие капилляры имеют "тестовую" и "смотровую" камеры, они гарантируют биологическую безопасность, простоту в обращении и возможность использования в любой окружающей среде</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Измерительная часть: источники светового излучения - два LED для канала подвижности и канала спектрофотометра; система детекторов - два фотодетектора для подвижности и оптической плотности</li>
                        <li>Типы проб: свежая сперма, замороженная сперма, обработанная сперма, сперма после вазэктомии</li>
                        <li>Специфичность: концентрация - 85%; подвижность - 80%; расчет нормальной морфологии (ВОЗ) - 65%; высокочуствительный тест - 95% определения подвижных клеток</li>
                        <li>Определяемые параметры: концентрация сперматозоидов; подвижность (PR+NP); поступательная подвижность (PR); непоступательная подвижность (NP); неподвижность (IM); % нормальная морфология; концентрация подвижных сперматозоидов (MSC); концентрация сперматозоидов с поступательной подвижностью (PMSC); концентрация функциональных сперматозоидов (FSC); индекс подвижности спермы (SMI); средняя скорость; общее количество сперматозоидов; общее количество подвижных сперматозоидов; общее количество сперматозоидов с поступательной подвижностью; общее количество функциональных сперматозоидов; общее количество сперматозоидов с нормальной морфологией; анализ образцов после вазэктомии: подвижные сперматозоиды, неподвижные сперматозоиды, общее количество сперматозоидов</li>
                        <li>Чувствительность: концентрация - 90%; подвижность - 85%; расчет нормальной морфологии (ВОЗ) - 85%</li>
                        <li>Отдел визуализации: система освещения с белым LED; CCD-матрица; 330 ТВ линий; объектив - стандартный, 20х; выход сигнала - стандарт PAL; оптическое увеличение 300х - 500х; регулятор фокуса</li>
                        <li>Дисплей: рабочий ЖКД с подсветкой (16 строк x 40 знаков); видео ЖКД с подсветкой (8 x 10 см)</li>
                        <li>Принтер: встроенный, матричный; бумага (58мм), 20 знаков в строке; кассета с лентой</li>
                        <li>Клавиатура: рабочие клавиши, цфровые клавиши, клавиши курсора, клавиши управления видеосистемой</li>
                        <li>Интерфейсы: разъем видеовыхода (RCA); разъем кабеля RS2</li>
                        <li>Приспособления для тестирования проб: измерительный капилляр - одноразовый, пластиковый, принудительно заполняемый; стандартный лабораторный микроскопический слайд - глубина 20 микрон, покровное стекло 22 x 22 мм</li>
                        <li>Память: 500 результатов тестов; 500 измерений контроля качества (QC)</li>
                        <li>Операционная система</li>
                        <li>Время анализа: обычный тест (Normal Test) - 75 секунд; высокочувствительный тест (High Sensitivity Test) - 9 минут</li>
                        <li>Программное обеспечение: управляет всеми функциями, осуществляет алгоритм измерений и обеспечивает работу визуального и автоматического теста</li>
                        <li>Температура тестирования проб: прибор откалиброван для работы при комнатной температуре. Результаты подвижности будут неправильными при подогреве проб</li>
                        <li>Входной сигнал канала подвижности: аналоговый, до 5В.</li>
                        <li>Входной сигнал канала спектрофотометра: моделированный (1 кГц), аналоговый, до 5В</li>
                        <li>Контроль качества: внутренний - электронный тест самопроверки и автокалибровка; внешний - автоматический с использованием контрольных материалов «QwikCheck-Beads™»</li>
                        <li>Питание: 100 250 В AC, 50/60 Гц</li>
                        <li>Габариты: 40 x 30 x 15 см</li>
                        <li>Вес: 4 кг</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable"> 
                        
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Расходные материалы</p>
                    </div>
                    <div class="emptyTable">
                        <div class="list">
                            <ul>
                                <li>Капилляры с I-Button. Упаковка 50 шт</li>
                                <li>Набор для очистки</li>
                                <li>Контрольный материал QwikCheсk Beads (3х5 мл)</li>
                                <li>Реактив для разведения спермы QwikCheсk Dilution (50 мл)</li>
                                <li>Набор для разжижения спермы QwikCheсk Liquefaction (20 уп. х 0,5 мг)</li>
                                <li>Набор для валидации SQA-V</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="bg"></div>
</section>