@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}


@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "ИФА"
    });
}

<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title">
            <h3>
                Иммуноферментный анализатор StatFax 4300, ChroMate (Awareness)
            </h3>
        </div>
        <div class="wrapper-d">
            <div class="item-images">
                <img class="box1 img-min1" src="/images/imgIfa/StatFax4300-1.jpg" alt="">
                <img class="box1 img-big" src="/images/imgIfa/StatFax4300-11.jpg" alt="">
                <img class="box2 img-min" src="/images/imgIfa/StatFax4300-2.jpg" alt="">
                <img class="box3 img-min img-c" src="/images/imgIfa/StatFax4300-3.jpg" alt="">
                <img class="box4 img-min" src="/images/imgIfa/StatFax4300-4.jpg" alt="">
            </div>
            <div class="item-title">
                <h3>Описание</h3>
                <ul class="big-list">
                    <li>Измерение одного 96-луночного планшета занимает примерно 8 с</li>
                    <li>8-ми канальный фотометрический модуль</li>
                    <li>Анализ производится в стандартных планшетах</li>
                    <li>Прямое управление ИФ анализатора компьютером</li>
                    <li>Интуитивно понятный интерфейс программы</li>
                    <li>Обеспечение работы всех методов измерений и расчетов ИФА</li>
                    <li>Открытая система для любых методик и реактивов</li>
                    <li>Сохранение всех методик и результатов</li>
                    <li>4 стандартных фильтра (405, 450, 492, 630 нм)</li>
                </ul>
            </div>
            <div class="item-table">
                <div class="column column-1">
                    <div class="hed-card">
                        <p>Технческие характеристики</p>
                    </div>
                    <ul class="emptyTable big-list">
                        <li>Вид аналитической системы: полуавтомат</li>
                        <li>Тип системы: открытая</li>
                        <li>Диапазон линейности измерения: 0,0–4,0 единиц абсорбции (A)</li>
                        <li>Точность фотометра: ± 1 %</li>
                        <li>Стабильность: не более 0,005 А за 8 ч</li>
                        <li>Источник света: галогенновая лампа с функцией сбережения</li>
                        <li>Фильтры: стандартная модель - 405, 450, 492 и 630 нм; опциональные фильтры - от 405 до 700 нм (упрощенная замена фильтров)</li>
                        <li>Тип фильтров: 8-канальный, интерференционные с полосой пропускания 10 нм</li>
                        <li>Планшет: стандартный 96-луночный, ячейки с плоским или полукруглым дном, 12- или 8-луночные стрипы</li>
                        <li>Скорость: измерение одного 96-луночного планшета занимает примерно 12 с</li>
                        <li>Методы расчета: измерение ОП, по одноточечной калибровке, по точке отсечения Cut-off, по обратно пропорциональной зависимости, по кусочно-линейной калибровке, по параболической калибровке, по линейной калибровке</li>
                        <li>Дополнительные функции: программируемая пользователем открытая система, выбор направления чтения, алфавитно-цифровое обозначение тестов, возможность автоматической интерпретации, использование проб и контролей из стандартов дубликатов, вывод и редактирование калибровочных кривых, система самотестирования</li>
                        <li>Перемещение планшета: шаговый электродвигатель</li>
                        <li>Подключение компьютера: USB</li>
                        <li>Микропроцессор: eZ 80</li>
                        <li>Перемещение планшета: шаговый электродвигатель</li>
                        <li>Корпус: металлический</li>
                        <li>Электропитание: 115 или 230 В, 50/60 Гц, автоматическое переключение</li>
                        <li>Температура: 15–35 °С</li>
                        <li>Влажность: менее 85 %</li>
                        <li>Размеры: 19×20,3×42 см</li>
                        <li>Вес: 4,5 кг</li>
                    </ul>
                </div>
                <div class="column column-2">
                    <div class="hed-card">
                        <p>Реагенты</p>
                    </div>
                    <div class="emptyTable">
                        <div class="list">
                            <a href="/home/IfaPng" class="hed img-1">
                                <p>DRG</p>
                            </a>
                            <a href="/home/IfaMonoBindR" class="hed img-2">
                                <p>MONIBIND</p>
                            </a>
                            <a href="/home/IfaIBL" class="hed img-3">
                                <p>IBL</p>
                            </a>
                            <a href="/home/IfaCanAg" class="hed img-4">
                                <p>CANAG</p>
                            </a>
                            <a href="/home/IfaCTK" class="hed img-5">
                                <p>CTK</p>
                            </a>
                            <a href="#" class="hed img-6">
                                <p>ЭКОЛАБ</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="hed-card">
                        <p>Сертификаты</p>
                    </div>
                    <div class="emptyTable">
                        <a href="/pdf/ifa-doc-StatFax.pdf">
                            <div class="doc">
                                <p>
                                    РУ_StatFax
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column column-4">
                    <div class="hed-card">
                        <p></p>
                    </div>
                    <div class="emptyTable">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>
