@using Delta.Models.PartialModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/our-production.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/our-production-bundle.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
        <script src="~/js/open-list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home-bundle.js" asp-append-version="true"></script>
        <script src="~/js/open-list-bundle.js" asp-append-version="true"></script>
    </environment>
}

@{
    await Html.RenderPartialAsync("NotMainSectionPartial", new NotMainSectionModal
    {
        Title = "Исследование Мочи"
    });
}


<section id="at-the-right-edge" class="at-the-right-edge">
    <div class="items">
        <div class="header-title header-title-red">
            <h3>
                Реагенты
            </h3>
        </div>
        <div class="header-title header-mt">
            <h3>
                URS-12
            </h3>
        </div>
        <div class="wrapper wrapper-reag">
            <div class="block">
                <ul class="list-reag-not-button">
                    <li>
                        <a href="#">TSH - тиреотропный гормон</a>
                    </li>
                    <li>
                        <a href="#">FT3 - свободный трийодтиронин </a>
                    </li>
                    <li>
                        <a href="#">T4 - общий тироксин</a>
                    </li>
                    <li>
                        <a href="#">FT4 - свободный тироксин</a>
                    </li>
                    <li>
                        <a href="#">Anti-TG - антитела к тиреоглобулину</a>
                    </li>
                    <li>
                        <a href="#">Anti - TPO - антитела к тиреоидной пероксидазе</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    <div class="bg"></div>
</section>