@{
    ViewBag.Title = "Add company";
}

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    </environment>
}



<form>
	<div class="button-and-header">
		<h2>
			Добавить компанию
		</h2>
		<button class="add-btn">
			Добавить
		</button>
	</div>
    <label>
        <input id="name" type="text" name="name" placeholder="Название"/>
    </label>
    <label>
        <input id="description" type="text" name="description" placeholder="Описание"/>
    </label>
    <div class="lower-input">
        <label>
            <input type="file" name="iFormFile"/>
        </label>
    </div>
    <div class="validation"></div>
    <a class="link-transition" href="/Admin/Company/Edit">Таблица со списком компании</a>
</form>




@* *@
@* <form enctype="multipart/form-data" method="post" class="wrapper company-form" id="msform"> *@
@*     <a href="#">Вернуться на главное меню</a> *@
@*     <fieldset style="padding: 0"> *@
@*         <h2 class="fs-title"</h2> *@
@*          *@
@*     </fieldset> *@
@* </form> *@