@{
    ViewBag.Title = "Company edit";
}

@section Styles {    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    </environment>
}


<div >
    <a href="/Admin/Company/Add">
        Добавить компанию
    </a>
    <table>
        <tr>
            <th>Логотип</th>
            <th>Описание</th>
            <th>Удаление</th>
        </tr>
        <tr>
            <td>Microsoft</td>
            <td>20.3</td>
            <td>30.5</td>
        </tr>
    </table>
</div>