@{
    ViewBag.Title = "Products";
}

@section Styles {    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    </environment>
}

@section Scripts {    
    <environment include="Development">
        <script src="~/js/admin/product-category.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/admin/product-category-bundle.js" asp-append-version="true"></script>
    </environment>
}

<div class="product-category">
    <a href="/Admin/Productcategory/Add">
        Добавить категорию прибора
    </a>
    <table>
        <tr>
            <th>Имя</th>
            <th>Удаление</th>
        </tr>
    </table>
</div>
