.map {
  margin-top: 50px;
}
.map .wrapper > div {
  position: relative;
}
.map .wrapper > div iframe {
  height: 274px;
}
.map .wrapper > div:before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  background: #D31C24;
  width: 33%;
  height: 15px;
}
.map .wrapper > div:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  width: 67%;
  height: 15px;
  background: #F4F4F4;
}

@media screen and (min-width: 954px) {
  .map {
    margin-top: 14px;
  }
  .map .wrapper > div iframe {
    height: 460px;
  }
  .map .wrapper > div:after {
    background: #FFFFFF;
  }
}
.contacts {
  padding: 7px 16px 12px 16px;
}
.contacts .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .wrapper > a img {
  max-width: 100px;
}
.contacts .wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 146px;
  width: 100%;
}

@media screen and (min-width: 954px) {
  .contacts {
    display: none;
  }
}
.not-main {
  background: url(/images/img/main-ourProd.jpg) center center/cover no-repeat;
  max-height: 479px;
}

.not-main-hematology-bg {
  background: url(/images/imgHematology/not-main-hematology-bg.jpg) center center/cover no-repeat;
}

.not-main-biochemistry-bg {
  background: url(/images/biochemistry/not-main-biochemistry-bg.jpg) center center/cover no-repeat;
}

.general-laboratory-consumable {
  background: url(/images/GeneralLaboratoryConsumable/GeneralLaboratoryConsumable.jpg) center center/cover no-repeat;
}

.not-main {
  width: 100%;
  margin-top: 147px;
}
.not-main h1 {
  padding: 34.7% 3% 4% 4.44%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (min-width: 800px) {
  .not-main {
    margin-top: 94px;
  }
  .not-main h1 {
    margin-left: 5%;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1125px) {
  .not-main h1 {
    padding: 390px 0 45px 0;
  }
}
@media screen and (min-width: 1620px) {
  .not-main h1 {
    font-size: 64px;
    line-height: 75px;
  }
}
.at-the-right-edge, .contact-us {
  position: relative;
}
.at-the-right-edge .bg, .contact-us .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  top: 155px;
  z-index: -999;
}
.at-the-right-edge .items, .contact-us .items {
  background: #FFFFFF;
  padding: 30px;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .at-the-right-edge {
    padding-bottom: 200px;
  }
  .at-the-right-edge .bg {
    top: 444px;
  }
  .at-the-right-edge .bg:before {
    content: "";
    position: absolute;
    background: url(/images/img/not-main-mini-logo.svg);
    width: 170px;
    height: 100%;
    left: 13px;
  }
}
.line-height-small {
  line-height: 1.2;
}

.line-height-medium {
  line-height: 1.5;
}

.line-height-large {
  line-height: 2;
}

.not-main {
  background: url(/images/img/main-partners.jpg) center center/cover no-repeat;
}

.at-the-right-edge .title {
  max-width: 1390px;
  margin: 0 auto;
}
.at-the-right-edge .title .wrapper {
  background: #FAFAFA;
  padding: 36px 10px;
  margin: 42px 20px 0 20px;
  position: relative;
}
.at-the-right-edge .title .wrapper > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #535353;
}
.at-the-right-edge .title .wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #C72930;
}

@media screen and (min-width: 588px) {
  .at-the-right-edge .title .wrapper {
    margin: 48px 37px 0 37px;
    padding: 49px 21px 40px;
  }
  .at-the-right-edge .title .wrapper > p {
    font-size: 20px;
    line-height: 23px;
  }
  .at-the-right-edge .title .wrapper:before {
    height: 6px;
  }
}
@media screen and (min-width: 900px) {
  .at-the-right-edge .title .wrapper {
    margin: 64px 120px 0 120px;
    padding: 75px 35px 100px;
  }
  .at-the-right-edge .title .wrapper > p {
    font-size: 28px;
    line-height: 33px;
  }
  .at-the-right-edge .title .wrapper:before {
    height: 8px;
  }
}

/*# sourceMappingURL=about-us.css.map */
