html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
blockquote:before :focus, blockquote:after :focus,
q:before :focus, q:after :focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

#loader {
  z-index: 111;
  display: none;
}
#loader.show {
  display: block;
}

html {
  background: #11182A;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-weight: 700;
}

.inlet .form-login {
  padding: 50px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}
.inlet .form-login .wrapper {
  margin-top: 30px;
}
.inlet .form-login .wrapper label {
  width: 100%;
  display: block;
  margin-top: 20px;
  font-weight: 500;
}
.inlet .form-login .wrapper label input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 8px 0 8px 10px;
  margin-top: 10px;
}
.inlet .form-login .wrapper button {
  border-radius: 10px;
  max-width: 180px;
  width: 100%;
  display: block;
  margin: 25px auto;
  padding: 8px 0;
  border: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  max-width: 1200px;
  margin: 0 auto;
}
header img {
  width: 240px;
}
header button {
  background: #FE0000;
  border: none;
  width: 127px;
  height: 39px;
  border-radius: 35px;
  font-weight: 700;
  color: #fff;
}
header:before {
  content: "";
  background: #FE0000;
  position: absolute;
  top: 120px;
  right: 0;
  width: 100%;
  height: 3px;
}

.add-product .wrapper {
  display: flex;
  max-width: 1200px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}
.add-product .wrapper .menu {
  background: #000;
  min-width: 25%;
  width: 100%;
  padding: 22px 10px;
}
.add-product .wrapper .menu h2 {
  color: #fff;
  font-size: 23px;
}
.add-product .wrapper .menu a {
  color: #8E8E8E;
  display: block;
  margin-top: 10px;
}
.add-product .wrapper .menu .active-link a {
  font-weight: 600;
  color: #fff;
  font-size: 19px;
}
.add-product .wrapper .fields-to-be-added {
  min-width: 75%;
  background: #FFFFFF;
  padding: 30px 30px 50px;
}
.add-product .wrapper .fields-to-be-added form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.add-product .wrapper .fields-to-be-added form img {
  margin: 20px 0;
  width: 150px;
}
.add-product .wrapper .fields-to-be-added form .button-and-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-product .wrapper .fields-to-be-added form .button-and-header h2 {
  font-weight: 700;
  font-size: 35px;
}
.add-product .wrapper .fields-to-be-added form .button-and-header button {
  border-radius: 18px;
  background: #072387;
  color: #fff;
  padding: 5px 13px;
  border: none;
}
.add-product .wrapper .fields-to-be-added form .successfully {
  position: relative;
  top: 15px;
  color: rgba(20, 184, 0, 0.53);
  height: 25px;
}
.add-product .wrapper .fields-to-be-added form label {
  margin-top: 20px;
}
.add-product .wrapper .fields-to-be-added form label input {
  width: 100%;
  border: 1px solid #000;
  height: 65px;
  flex-shrink: 0;
  margin-top: 10px;
  padding-left: 20px;
}
.add-product .wrapper .fields-to-be-added form .lower-input {
  display: flex;
}
.add-product .wrapper .fields-to-be-added form .lower-input input {
  border: none;
  padding: 0;
  font-size: 11px;
  height: auto;
}
.add-product .wrapper .fields-to-be-added form .lower-input .input {
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-top: 0;
}
.add-product .wrapper .fields-to-be-added form .link-transition {
  display: block;
  margin-top: 20px;
}

.delete {
  cursor: pointer;
  width: 45px;
}

table {
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
table tbody {
  min-width: 100%;
}
table tbody th, table tbody td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
}
table tbody th, table tbody td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
table tbody td {
  background: #D8E6F3;
  padding: 10px 10px;
  vertical-align: middle;
}
table tbody td img {
  width: 45px;
}
table tbody td a {
  font-size: 19px;
  font-weight: 600;
  text-decoration: underline;
}
table tbody td form button {
  background: none;
  border: 0;
}
table tbody th:first-child, table tbody td:first-child {
  text-align: left;
}

/*# sourceMappingURL=admin.css.map */
