.map {
  margin-top: 50px;
}
.map .wrapper > div {
  position: relative;
}
.map .wrapper > div iframe {
  height: 274px;
}
.map .wrapper > div:before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  background: #D31C24;
  width: 33%;
  height: 15px;
}
.map .wrapper > div:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  width: 67%;
  height: 15px;
  background: #F4F4F4;
}

@media screen and (min-width: 954px) {
  .map {
    margin-top: 14px;
  }
  .map .wrapper > div iframe {
    height: 460px;
  }
  .map .wrapper > div:after {
    background: #FFFFFF;
  }
}
.not-main {
  background: url(/images/img/main-ourProd.jpg) center center/cover no-repeat;
  max-height: 479px;
}

.not-main-hematology-bg {
  background: url(/images/imgHematology/not-main-hematology-bg.jpg) center center/cover no-repeat;
}

.not-main-biochemistry-bg {
  background: url(/images/biochemistry/not-main-biochemistry-bg.jpg) center center/cover no-repeat;
}

.general-laboratory-consumable {
  background: url(/images/GeneralLaboratoryConsumable/GeneralLaboratoryConsumable.jpg) center center/cover no-repeat;
}

.not-main {
  width: 100%;
  margin-top: 147px;
}
.not-main h1 {
  padding: 34.7% 3% 4% 4.44%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (min-width: 800px) {
  .not-main {
    margin-top: 94px;
  }
  .not-main h1 {
    margin-left: 5%;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1125px) {
  .not-main h1 {
    padding: 390px 0 45px 0;
  }
}
@media screen and (min-width: 1620px) {
  .not-main h1 {
    font-size: 64px;
    line-height: 75px;
  }
}
.at-the-right-edge, .contact-us {
  position: relative;
}
.at-the-right-edge .bg, .contact-us .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  top: 155px;
  z-index: -999;
}
.at-the-right-edge .items, .contact-us .items {
  background: #FFFFFF;
  padding: 30px;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .at-the-right-edge {
    padding-bottom: 200px;
  }
  .at-the-right-edge .bg {
    top: 444px;
  }
  .at-the-right-edge .bg:before {
    content: "";
    position: absolute;
    background: url(/images/img/not-main-mini-logo.svg);
    width: 170px;
    height: 100%;
    left: 13px;
  }
}
.contacts {
  padding: 7px 16px 12px 16px;
}
.contacts .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .wrapper > a img {
  max-width: 100px;
}
.contacts .wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 146px;
  width: 100%;
}

@media screen and (min-width: 954px) {
  .contacts {
    display: none;
  }
}
.not-main {
  background: url(/images/img/main-contactUs.jpg) center center/cover no-repeat;
}

.contact-us .wrapper {
  max-width: 1280px;
  margin: 25px auto 0 auto;
  padding: 0 15px;
}
.contact-us .wrapper .img > img {
  width: 100%;
  object-fit: cover;
}
.contact-us .wrapper .address-office-hours > div > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.contact-us .wrapper .address-office-hours .contacts-page {
  margin-top: 15px;
}
.contact-us .wrapper .address-office-hours .contacts-page .map-page {
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.contact-us .wrapper .address-office-hours .contacts-page .map-page > img {
  margin-right: 8px;
  width: 18px;
}
.contact-us .wrapper .address-office-hours .contacts-page .map-page > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.contact-us .wrapper .address-office-hours .contacts-page .number {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.contact-us .wrapper .address-office-hours .contacts-page .number > img {
  margin-right: 11px;
  width: 23px;
}
.contact-us .wrapper .address-office-hours .contacts-page .number > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.contact-us .wrapper .address-office-hours .office-hours {
  margin-top: 40px;
  position: relative;
}
.contact-us .wrapper .address-office-hours .office-hours > .days {
  margin-top: 8px;
}
.contact-us .wrapper .address-office-hours .office-hours > .days > div {
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.contact-us .wrapper .address-office-hours .office-hours > .days > div > p {
  width: 65px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-right: 60px;
}
.contact-us .wrapper .address-office-hours .office-hours:before {
  content: "";
  position: absolute;
  width: 100%;
  background: #C72930;
  height: 4px;
  top: -20px;
}

@media screen and (min-width: 954px) {
  .contact-us .wrapper {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .contact-us .wrapper {
    margin-top: 38px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 80px 76px;
  }
  .contact-us .wrapper .img > img {
    min-height: 100%;
  }
  .contact-us .wrapper .address-office-hours {
    width: 50%;
  }
  .contact-us .wrapper .address-office-hours > div > p {
    font-size: 40px;
    line-height: 47px;
  }
  .contact-us .wrapper .address-office-hours .contacts-page .map-page {
    margin-top: 38px;
  }
  .contact-us .wrapper .address-office-hours .contacts-page .map-page > p {
    font-size: 24px;
    line-height: 28px;
  }
  .contact-us .wrapper .address-office-hours .contacts-page > .number {
    margin-top: 39px;
  }
  .contact-us .wrapper .address-office-hours .contacts-page > .number > p {
    font-size: 20px;
    line-height: 23px;
  }
  .contact-us .wrapper .address-office-hours .contacts-page a:last-child {
    margin-top: 14px;
  }
  .contact-us .wrapper .address-office-hours .office-hours {
    margin-top: 115px;
  }
  .contact-us .wrapper .address-office-hours .office-hours .days > div {
    margin-top: 22px;
  }
  .contact-us .wrapper .address-office-hours .office-hours .days > div > p {
    font-size: 24px;
    line-height: 28px;
    margin-right: 70px;
  }
  .contact-us .wrapper .address-office-hours .office-hours .days > div > span {
    font-size: 24px;
    line-height: 28px;
  }
  .contact-us .wrapper .address-office-hours .office-hours:before {
    top: -57px;
    height: 8px;
  }
}

/*# sourceMappingURL=contact-us.css.map */
