.advertising-cards {
  padding: 11px 16px 0;
}
.advertising-cards .wrapper .cards-bg {
  display: none;
}
.advertising-cards .wrapper .items {
  display: flex;
  flex-wrap: wrap;
}
.advertising-cards .wrapper .items .item {
  background: #F9F9F9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 10px;
  max-width: 350px;
  margin: 5px auto 0 auto;
}
.advertising-cards .wrapper .items .item > div h3 {
  color: #535353;
  font-weight: 700;
}
.advertising-cards .wrapper .items .item > div p {
  font-weight: 400;
  color: #8E8E8E;
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
}
.advertising-cards .wrapper .items .item .arrow_pk {
  display: none;
}

@media screen and (min-width: 800px) {
  .advertising-cards {
    padding: 0;
    width: 90%;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .advertising-cards .wrapper {
    display: flex;
    justify-content: center;
    max-width: 1040px;
    min-height: 427px;
    margin: 0 auto;
  }
  .advertising-cards .wrapper .cards-bg {
    display: block;
    min-width: 50%;
    object-fit: cover;
  }
  .advertising-cards .wrapper .items {
    min-width: 50%;
  }
  .advertising-cards .wrapper .items .item {
    min-width: 50%;
    margin-top: 0;
    background: #FFFFFF;
    flex-direction: column-reverse;
    padding: 24px 0;
    justify-content: space-between;
    border: 0.5px solid #D9D9D9;
    border-radius: 0;
  }
  .advertising-cards .wrapper .items .item .arrow-mobail {
    display: none;
  }
  .advertising-cards .wrapper .items .item > div p {
    display: none;
  }
  .advertising-cards .wrapper .items .item .arrow_pk {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .advertising-cards {
    top: 460.9px;
  }
}
.one-product {
  padding: 34px 10px 0 10px;
}
.one-product .wrapper > div {
  box-shadow: 0 0 9px #CCCCCC;
  border-radius: 16px;
  padding: 0 30px 20px 30px;
  max-width: 500px;
  margin: 0 auto;
}
.one-product .wrapper > div img {
  display: flex;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
.one-product .wrapper > div .title {
  max-width: 289px;
  margin: 0 auto;
  color: #535353;
}
.one-product .wrapper > div .title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.one-product .wrapper > div .title ul {
  margin-top: 13px;
  line-height: 19px;
}
.one-product .wrapper > div .title ul li {
  list-style-type: disc;
  margin-top: 5px;
  font-weight: 700;
  margin-left: 20px;
}
.one-product .wrapper > div .title .items {
  display: none;
}

@media screen and (min-width: 800px) {
  .one-product {
    padding: 34px 10px 0 10px;
  }
  .one-product .wrapper > div {
    max-width: 1073px;
    margin-top: 370px;
    box-shadow: none;
    display: flex;
    align-items: center;
  }
  .one-product .wrapper > div img {
    margin: 0;
    max-width: 400px;
  }
  .one-product .wrapper > div .title {
    max-width: 632px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .one-product .wrapper > div .title h3 {
    font-size: 36px;
  }
  .one-product .wrapper > div .title ul {
    line-height: 29px;
  }
  .one-product .wrapper > div .title ul li {
    font-size: 24px;
  }
  .one-product .wrapper > div .title .items {
    margin-top: 30px;
    display: block;
  }
  .one-product .wrapper > div .title .items .item {
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: relative;
  }
  .one-product .wrapper > div .title .items .item:before {
    position: absolute;
    content: "";
    min-width: 100%;
    border: 1px solid #CCCCCC;
    bottom: -10px;
  }
  .one-product .wrapper > div .title .items .item .number {
    margin-right: 22px;
    width: 50px;
    height: 50px;
    background: #F4F4F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #D31C24;
    font-size: 28px;
  }
  .one-product .wrapper > div .title .items .item > p {
    font-size: 20px;
    line-height: 31px;
  }
}
@media screen and (min-width: 954px) {
  .one-product {
    padding: 1px 0 0 0;
    position: relative;
  }
  .one-product .wrapper > div .title {
    margin-left: 83px;
  }
  .one-product:before {
    content: "";
    background: url(/images/icon/big-logo1.svg);
    position: absolute;
    width: 462px;
    min-height: 100%;
    left: 20px;
  }
  .one-product:after {
    content: "";
    position: absolute;
    min-height: 100%;
    width: 40%;
    background: #F4F4F4;
    z-index: -1;
    top: 0;
  }
}
@media screen and (min-width: 1190px) {
  .one-product .wrapper {
    padding: 0 0 0 120px;
  }
}
@media screen and (min-width: 1450px) {
  .one-product .wrapper {
    padding: 0 0 0 360px;
  }
}
.slider-products {
  padding: 31px 0 0 0;
  z-index: -999;
}
.slider-products .wrapper .cards::-webkit-scrollbar-thumb {
  display: none;
}
.slider-products .wrapper .cards {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
  justify-content: space-between;
  padding-bottom: 20px;
}
.slider-products .wrapper .cards .card {
  min-width: 155px;
}
.slider-products .wrapper .cards .card img {
  width: 135px;
  display: flex;
  margin: 0 auto;
}
.slider-products .wrapper .cards .card > div > p {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  font-size: 13px;
}
.slider-products .wrapper h3 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

@media screen and (min-width: 750px) {
  .slider-products {
    padding: 50px 0 0 0;
  }
  .slider-products .wrapper .cards::-webkit-scrollbar-thumb {
    display: block;
  }
  .slider-products .wrapper .cards {
    margin-top: 25px;
  }
  .slider-products .wrapper .cards .card {
    min-width: 300px;
  }
  .slider-products .wrapper .cards .card img {
    width: 272px;
  }
  .slider-products .wrapper .cards > .card:first-child {
    min-width: 370px;
  }
  .slider-products .wrapper .cards > .card:first-child img {
    margin-right: 14px;
  }
  .slider-products .wrapper h3 {
    font-size: 32px;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1130px) {
  .slider-products {
    padding: 80px 0 0 0;
  }
}
.about-us {
  padding: 10px;
  z-index: -999;
}
.about-us .wrapper {
  max-width: 403px;
  margin: 0 auto;
}
.about-us .wrapper > div {
  margin-top: 10px;
}
.about-us .wrapper > div > img {
  width: 100%;
}
.about-us .wrapper > div > div > h3 {
  display: none;
}
.about-us .wrapper > div > div > p {
  font-weight: 500;
  margin-top: 20px;
  line-height: 21px;
  text-align: justify;
  color: #535353;
  padding: 0 10px;
}
.about-us h3 {
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .about-us .wrapper {
    min-width: 100%;
    padding: 130px 30px 30px 30px;
  }
  .about-us .wrapper > h3 {
    display: none;
  }
  .about-us .wrapper > div {
    max-width: 827px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .about-us .wrapper > div > img {
    max-width: 473px;
    margin-right: 40px;
  }
  .about-us .wrapper > div > div {
    max-width: 526px;
    min-width: 40%;
  }
  .about-us .wrapper > div > div > h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    display: block;
    color: #535353;
  }
  .about-us .wrapper > div > div > p {
    color: #535353;
    padding: 0;
    font-size: 19px;
    line-height: 27px;
  }
}
@media screen and (min-width: 954px) {
  .about-us {
    position: relative;
  }
  .about-us .wrapper {
    padding: 100px 20px 150px 90px;
  }
  .about-us:before {
    content: "";
    background: url(/images/icon/big-logo1.svg) no-repeat;
    position: absolute;
    width: 462px;
    min-height: 1308px;
    top: -55%;
    left: 20px;
  }
  .about-us:after {
    content: "";
    background: #F4F4F4;
    position: absolute;
    width: 40%;
    min-height: 1211px;
    top: -76.3%;
    left: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1130px) {
  .about-us:after {
    top: -81.5%;
  }
}
@media screen and (min-width: 1190px) {
  .about-us .wrapper {
    padding: 175px 0 213px 120px;
  }
  .about-us .wrapper > div {
    max-width: 1046px;
    width: 100%;
  }
  .about-us .wrapper > div > div > h3 {
    font-size: 64px;
    line-height: 96px;
  }
  .about-us .wrapper > div > div > p {
    font-size: 24px;
    line-height: 36px;
  }
  .about-us:after {
    top: -58.2%;
    min-height: 1320px;
  }
  .about-us:before {
    top: -196px;
  }
}
@media screen and (min-width: 1450px) {
  .about-us .wrapper {
    padding: 175px 0 213px 360px;
  }
}
.partners {
  padding-top: 29px;
}
.partners .wrapper h3 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.partners .wrapper .cards::-webkit-scrollbar {
  display: none;
}
.partners .wrapper .cards {
  display: flex;
  min-width: 100%;
  min-height: 67px;
  overflow-x: auto;
  margin-top: 10px;
}
.partners .wrapper .cards .card {
  min-width: 170px;
}
.partners .wrapper .cards .card img {
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  width: 150px;
  display: flex;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .partners .wrapper h3 {
    margin-left: 80px;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    margin-top: 15px;
  }
  .partners .wrapper .cards {
    margin-top: 15px;
    padding-left: 60px;
  }
  .partners .wrapper .cards .card {
    min-width: 350px;
  }
  .partners .wrapper .cards .card img {
    width: 300px;
  }
}
@media screen and (min-width: 954px) {
  .partners {
    background: #F4F4F4;
    padding: 132px 0 200px 0;
  }
}
.map {
  margin-top: 50px;
}
.map .wrapper > div {
  position: relative;
}
.map .wrapper > div iframe {
  height: 274px;
}
.map .wrapper > div:before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  background: #D31C24;
  width: 33%;
  height: 15px;
}
.map .wrapper > div:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  width: 67%;
  height: 15px;
  background: #F4F4F4;
}

@media screen and (min-width: 954px) {
  .map {
    margin-top: 14px;
  }
  .map .wrapper > div iframe {
    height: 460px;
  }
  .map .wrapper > div:after {
    background: #FFFFFF;
  }
}
.contacts {
  padding: 7px 16px 12px 16px;
}
.contacts .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .wrapper > a img {
  max-width: 100px;
}
.contacts .wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 146px;
  width: 100%;
}

@media screen and (min-width: 954px) {
  .contacts {
    display: none;
  }
}
.main {
  background: url(/images/img/new-main-2.jpg) center center/cover no-repeat;
  margin-top: 145px;
  padding: 6% 4% 8%;
  aspect-ratio: 32/9;
}
.main > .wrapper {
  text-align: right;
  color: #fff;
}
.main > .wrapper h1 {
  font-size: calc(6.6px + 1.875vw);
  font-weight: 700;
}
.main > .wrapper p {
  font-weight: 400;
  margin-top: 3px;
  font-size: calc(6px + 1.25vw);
}

.with-one-item .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.with-one-item .wrapper .item-img {
  position: relative;
  max-width: 327px;
  margin: 0 auto;
}
.with-one-item .wrapper .item-img img {
  padding: 0 20px;
  display: flex;
  width: 100%;
}
.with-one-item .wrapper .item-img:after {
  content: "";
  position: absolute;
  background: #D31C24;
  height: 5px;
  width: 100%;
  right: 0;
  bottom: 0;
}
.with-one-item .wrapper .item-title {
  max-width: 335px;
  margin: 0 auto;
  padding: 23px 53px 32px 26px;
}
.with-one-item .wrapper .item-title h2 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}
.with-one-item .wrapper .item-title .top-ul {
  margin-top: 8px;
  margin-left: 18px;
}
.with-one-item .wrapper .item-title .top-ul > li {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-top: 15px;
  list-style: disc;
}
.with-one-item .wrapper .item-title > div {
  margin-top: 20px;
}
.with-one-item .wrapper .item-title > div > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.with-one-item .wrapper .item-title > div .bot-ul > li {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  margin-top: 12px;
}
.with-one-item .wrapper .item-title > div .bot-ul > li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #C72930;
  bottom: -5px;
}
.with-one-item .wrapper .item-title > div .bot-ul li:last-child:before {
  display: none;
}
.with-one-item .wrapper .item-title > div .bot-ul > li::first-letter {
  color: #C72930;
}

.news .wrapper {
  display: flex;
}
.news .wrapper .item-red {
  background: #C72930;
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .wrapper .item-red > p {
  transform: rotate(-90deg);
  display: inline-block;
  font-size: calc(17px + 1.5463917526vw);
  font-weight: 600;
  color: #fff;
}
.news .wrapper .item-bg {
  padding: 4% 7%;
  background: url("/images/img/news-new-main.jpg") center center/cover no-repeat;
  color: #fff;
}
.news .wrapper .item-bg > h3 {
  line-height: 130%;
  font-size: calc(10px + 1.3917525773vw);
  font-weight: 700;
}
.news .wrapper .item-bg > p {
  line-height: 120%;
  font-size: calc(4px + 1.3917525773vw);
  margin-top: 3%;
  font-weight: 400;
}

.swiper-section {
  position: relative;
  padding: 35px 0 30px;
  background: #F8F8F8;
}
.swiper-section .swiper-wrapper {
  margin-top: 20px;
}
.swiper-section .swiper {
  max-width: 1280px;
  height: 100%;
  padding: 0 20px 30px;
}
.swiper-section .swiper h2 {
  font-size: calc(16px + 1.9072164948vw);
  font-weight: 600;
}
.swiper-section .swiper .swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 0 20px;
  transition: all 0.2s;
}
.swiper-section .swiper .swiper-slide .text {
  margin-top: 20px;
  padding: 0 10px;
}
.swiper-section .swiper .swiper-slide .text h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 107%;
}
.swiper-section .swiper .swiper-slide .text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
  color: #535353;
  height: 80px;
}
.swiper-section .swiper .swiper-slide .text > a {
  display: block;
  margin-top: 30px;
  color: #D30536;
  font-weight: 400;
  font-size: 16px;
}
.swiper-section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-section .swiper .swiper-pagination {
  bottom: -2px;
}
.swiper-section .swiper .swiper-slide-active-new {
  margin-top: -3px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.swiper-section .swiper .swiper-button-next {
  background: url("/images/icon/slide-arrow-next.svg") center center/cover no-repeat;
  right: -5px;
}
.swiper-section .swiper .swiper-button-next:after {
  display: none;
}
.swiper-section .swiper .swiper-button-prev {
  background: url("/images/icon/slide-arrow-next.svg") center center/cover no-repeat;
  left: -5px;
  transform: rotate(180deg);
}
.swiper-section .swiper .swiper-button-prev:after {
  display: none;
}
.swiper-section .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #D9D9D9;
}
.swiper-section .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFFFFF;
  width: 14px;
  height: 14px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.about-us-new {
  background: url("/images/img/about-us-new-main.jpg") center center/cover no-repeat;
  padding: 3% 12% 4%;
  position: relative;
}
.about-us-new:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: #C72930;
}
.about-us-new .wrapper h2 {
  font-weight: 700;
  font-size: calc(16px + 1.9072164948vw);
  line-height: 19px;
  text-align: justify;
  color: #fff;
}
.about-us-new .wrapper > div > p {
  color: #fff;
  margin-top: 2%;
  font-size: calc(8px + 1.2371134021vw);
  line-height: 125%;
}

@media screen and (min-width: 625px) {
  .main > .wrapper h1 {
    font-size: calc(13px + 1.875vw);
  }
}
@media screen and (min-width: 662px) {
  .with-one-item .wrapper {
    max-width: 720px;
    width: 100%;
    padding: 5% 3%;
    margin: 0 auto;
  }
  .with-one-item .wrapper .item-title {
    padding: 0;
    margin: 0;
  }
  .with-one-item .wrapper .item-img {
    margin: 0;
  }
  .with-one-item .wrapper .item-img img {
    padding: 0;
  }
}
@media screen and (min-width: 800px) {
  .main {
    margin-top: 94px;
  }
}
@media screen and (min-width: 1100px) {
  .with-one-item {
    background: linear-gradient(to left, #F8F8F8 50%, transparent 50%);
  }
  .with-one-item .wrapper {
    max-width: 1130px;
  }
  .with-one-item .wrapper .item-img {
    max-width: 414px;
  }
  .with-one-item .wrapper .item-title {
    max-width: 480px;
  }
  .with-one-item .wrapper .item-title h2 {
    font-size: 45px;
    line-height: 53px;
  }
  .with-one-item .wrapper .item-title .top-ul > li {
    font-size: 27px;
    line-height: 32px;
  }
  .with-one-item .wrapper .item-title > div > p {
    font-size: 22px;
    line-height: 26px;
  }
  .with-one-item .wrapper .item-title > div .bot-ul > li {
    font-size: 29px;
    line-height: 34px;
  }
}
@media screen and (min-width: 1350px) {
  .swiper-section {
    overflow: hidden;
  }
  .swiper-section .swiper {
    padding: 0 26px 30px;
  }
  .swiper-section .swiper .swiper-button-next {
    z-index: 999;
    right: -7px;
  }
  .swiper-section .swiper .swiper-button-prev {
    z-index: 999;
    left: -7px;
  }
}
@media screen and (min-width: 1400px) {
  .news .wrapper .item-red {
    min-width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .news .wrapper .item-red > p {
    margin-bottom: 12%;
    margin-right: -4%;
  }
}
.old-code {
  display: none;
}

/*# sourceMappingURL=home.css.map */
