html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
blockquote:before :focus, blockquote:after :focus,
q:before :focus, q:after :focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

#loader {
  z-index: 111;
  display: none;
}
#loader.show {
  display: block;
}

header {
  padding: 18px 25px 10px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
  background: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .wrapper > .logo img {
  width: 74px;
}
header > .wrapper .bread-crumbs {
  display: none;
}
header > .wrapper nav {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: -150%;
  transform: translateX(-50%);
  width: 95.9%;
  background: #FFFFFF;
  box-shadow: 0 0 38px rgb(0, 0, 0);
  border-radius: 16px;
  padding: 40px 1.2px 24px 43px;
  transition: all 0.3s;
}
header > .wrapper nav .logo {
  display: none;
}
header > .wrapper nav ul li {
  margin-top: 36px;
  position: relative;
}
header > .wrapper nav ul li a {
  color: #8E8E8E;
  font-size: 20px;
  line-height: 30px;
}
header > .wrapper nav ul li:before {
  content: "";
  position: absolute;
  margin-top: 50px;
  width: 100%;
  border: 1px solid #F4F4F4;
}
header > .wrapper nav ul li:first-child {
  margin-top: 0;
}
header > .wrapper nav ul li:last-child:before {
  display: none;
}
header > .wrapper .hamburger {
  order: 2;
  cursor: pointer;
  width: 45px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
header > .wrapper .hamburger > div {
  margin: 5px 0 0 auto;
  height: 4px;
  border-radius: 5px;
  background: #000000;
  transition: all 0.3s;
}
header > .wrapper .hamburger :nth-child(1) {
  transition: all 0.3s;
  width: 24px;
  margin-top: 0;
}
header > .wrapper .hamburger :nth-child(2) {
  width: 24px;
}
header > .wrapper .hamburger :nth-child(3) {
  transition: all 0.3s;
  width: 18px;
}
header .desktop-form input {
  transition: all 0.3s;
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.4);
}
header .mobail-form {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
header .mobail-form .search-options {
  cursor: pointer;
  display: none;
  margin-left: 25px;
}
header .mobail-form input {
  width: 100%;
  height: 47px;
  background: rgba(217, 217, 217, 0.4);
  border-radius: 8px;
  padding-left: 16px;
  border: none;
}
header .mobail-form:before {
  content: "";
  background: url(/images/icon/magnifying-glass.svg) no-repeat;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}
header .active-nav nav {
  display: block;
  left: 50%;
  transition: all 0.3s;
}
header .active-nav .hamburger :nth-child(1) {
  transition: all 0.3s;
  width: 24px;
  position: absolute;
  transform: rotate(-45deg);
  right: 25px;
}
header .active-nav .hamburger :nth-child(2) {
  width: 0;
}
header .active-nav .hamburger :nth-child(3) {
  transition: all 0.3s;
  margin-top: 0;
  width: 24px;
  position: absolute;
  transform: rotate(45deg);
  right: 25px;
}

@media screen and (min-width: 800px) {
  header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 80px 20px;
  }
  header .wrapper {
    width: 100%;
  }
  header .wrapper > .logo {
    display: none;
  }
  header .wrapper > .logo img {
    width: 108px;
  }
  header .wrapper .bread-crumbs {
    padding: 3px 0;
    display: block;
  }
  header .wrapper .bread-crumbs > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  header .wrapper .bread-crumbs > p > span {
    color: #C72930;
  }
  header .wrapper .hamburger {
    display: none;
  }
  header .wrapper nav {
    position: absolute;
    border: 0;
    background: none;
    box-shadow: none;
    left: 50%;
    padding: 0;
    min-width: 100%;
    top: 73px;
    background: #ffffff;
    border-radius: 0;
    display: flex;
  }
  header .wrapper nav > .logo {
    display: flex;
    min-width: 177px;
    padding-left: 40px;
  }
  header .wrapper nav > .logo img {
    width: 100%;
  }
  header .wrapper nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 869px;
    width: 100%;
    margin: 0 26px 0 5%;
    padding: 36px 0 15px 0;
  }
  header .wrapper nav ul li {
    margin-top: 0;
    padding: 13px 0;
  }
  header .wrapper nav ul li a {
    font-size: 17.5px;
    color: #000000;
  }
  header .wrapper nav ul li:before {
    border: none;
  }
  header .wrapper nav ul .active-btn-h {
    position: relative;
  }
  header .wrapper nav ul .active-btn-h:after {
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -15px;
    height: 5px;
    width: 160%;
    background: #C72930;
    z-index: 999;
  }
  header .wrapper nav ul li:last-child:before {
    display: block;
  }
  header .wrapper nav ul .product-active {
    position: relative;
  }
  header .wrapper nav ul .product-active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10.5px solid #D9D9D9;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
  }
  header .wrapper nav:before {
    content: "";
    position: absolute;
    border: 0.1px solid #E0E0E0;
    width: 99.8%;
  }
  header .mobail-form {
    display: none;
  }
  header .desktop-form {
    display: block;
  }
  header .desktop-form .open-search-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
  }
  header .desktop-form .open-search-btn:before {
    position: absolute;
    content: "";
    background: url(/images/icon/magnifying-glass.svg) no-repeat;
    width: 100%;
    height: 100%;
  }
  header .desktop-form-active {
    width: 400px;
  }
  header .desktop-form-active input {
    transition: all 0.3s;
    padding: 7px 0 7px 13px;
    width: 100%;
    height: 100%;
    position: static;
  }
  header .desktop-form-active .open-search-btn {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  header .wrapper nav ul li {
    margin: 0 14px;
  }
  header .wrapper nav ul li a {
    font-size: 23px;
  }
  header .wrapper nav ul li:first-child {
    margin-left: 0;
  }
}
footer {
  background: #D31C24;
  padding: 10px 10px 39px;
  color: #FFFFFF;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .wrapper nav {
  margin: 16px 10px 0 10px;
  max-width: 195px;
}
footer .wrapper nav li {
  list-style-type: none;
  margin-top: 10px;
}
footer .wrapper nav li a {
  color: #FFFFFF;
  font-weight: 400;
}
footer .wrapper .phone {
  max-width: 195px;
  display: flex;
  flex-direction: column;
  margin: 16px 10px 0 10px;
}
footer .wrapper .phone div:nth-child(2) {
  margin-top: 12px;
}
footer .wrapper .phone div:nth-child(2) > a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
}
footer .wrapper .phone div:nth-child(2) > a > img {
  margin-right: 5px;
}
footer .wrapper .phone div:nth-child(2) > a .phone-black {
  display: none;
}
footer .wrapper .location {
  margin: 16px 10px 0 10px;
  max-width: 195px;
}
footer .wrapper .location .header > p {
  font-weight: 400;
}
footer .wrapper .location div:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
footer .wrapper .location div:nth-child(2) > img {
  margin-right: 8px;
}
footer .wrapper .location div:nth-child(2) .map-icon-black {
  display: none;
}
footer .wrapper .location div:nth-child(2) > div {
  font-weight: 400;
  line-height: 22px;
}
footer .social-network {
  display: none;
}

@media screen and (min-width: 954px) {
  footer {
    background: #FFFFFF;
    padding: 10px 10px 39px;
    color: #000000;
  }
  footer .wrapper {
    max-width: 1287px;
    margin: 0 auto;
  }
  footer .wrapper nav {
    margin-top: 11px;
  }
  footer .wrapper nav li {
    margin-top: 10px;
  }
  footer .wrapper nav li a {
    color: #000000;
  }
  footer .wrapper .phone div:nth-child(2) > a {
    color: #000000;
  }
  footer .wrapper .phone div:nth-child(2) > a img:first-child {
    display: none;
  }
  footer .wrapper .phone div:nth-child(2) > a .phone-black {
    width: 30px;
    display: block;
  }
  footer .wrapper .location div:last-child img:first-child {
    display: none;
  }
  footer .wrapper .location div:last-child .map-icon-black {
    display: block;
  }
  footer .social-network {
    margin-top: 26px;
    position: absolute;
    left: 0;
    width: 100%;
    background: #F4F4F4;
    display: flex;
    padding: 9px 0;
    justify-content: flex-end;
  }
  footer .social-network .items {
    width: 166px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.swiper-slide-active {
  margin-top: -3px !important;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25) !important;
}

button {
  border: none;
  cursor: pointer;
}

.validation {
  color: #bb3459;
  padding: 10px 0;
}

.overlay {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
}

.modal {
  display: none;
}

.show {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
  z-index: 100;
}

.top {
  cursor: pointer;
  position: fixed;
  width: 73px;
  height: 73px;
  right: -100%;
  bottom: 20px;
  transition: all 0.5s;
  z-index: 999;
}

.top-active {
  right: 30px;
  transition: all 0.5s;
}

.submenu {
  padding: 45px 10px 40px 10px;
  position: fixed;
  max-width: 340px;
  width: 88%;
  min-height: 45%;
  background: #FFFFFF;
  z-index: 999;
  border: 0.1px solid #CCCCCC;
  left: -200%;
}
.submenu .items-s {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  flex-wrap: wrap;
}
.submenu .items-s .item {
  display: block;
  margin: 0 8px;
  width: 200px;
}
.submenu .items-s .item .item-hr {
  color: #535353;
  font-size: 16px;
  margin-top: 10px;
  line-height: 28px;
  display: block;
}
.submenu .items-s .item .item-hr a {
  color: #535353;
}
.submenu .items-s .item .arrow {
  position: relative;
}
.submenu .items-s .item .arrow:before {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background: url(/images/icon/arrow.svg) no-repeat;
  width: 8px;
  height: 6px;
  transition: all 0.3s;
}
.submenu .items-s .item .subsection {
  margin-left: 30px;
  position: absolute;
  top: -500px;
  left: 50%;
  overflow: hidden;
  padding-bottom: 15px;
}
.submenu .items-s .item .subsection a {
  color: #535353;
  display: block;
  margin-top: 7px;
  font-size: 13px;
}
.submenu .subsection-static .item .subsection {
  position: static;
}
.submenu .subsection-static .item .arrow:before {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.submenu .subsection-static .item-a {
  margin-bottom: 26.1px;
}
.submenu .items::-webkit-scrollbar {
  width: 0;
}

.submenu-active {
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
  .submenu {
    max-width: 868px;
    padding: 0 45px 0;
    min-height: 250px;
    top: 119px;
  }
  .submenu .items-s {
    display: flex;
    align-items: flex-start;
    overflow-y: clip;
  }
  .submenu .items-s .item {
    width: 174px;
    position: relative;
    margin-top: 20px;
  }
  .submenu .items-s .item .arrow:before {
    right: 35px;
  }
  .submenu .items-s .item .item-hr {
    margin-top: 10px;
    line-height: 20px;
  }
  .submenu .items-s .line {
    min-height: 250px;
    border: 0.1px solid #CCCCCC;
  }
  .submenu .items-s .item:first-child:before {
    display: none;
  }
  .submenu-active {
    top: 180px;
    left: 18%;
    transform: none;
  }
}

/*# sourceMappingURL=layout.css.map */
