.product-category {
  padding-bottom: 250px;
}
.product-category .header-product-category {
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3.62% 4.5%;
}
.product-category .header-product-category > h2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.product-category .btn-reg {
  display: block;
  max-width: 206px;
  text-align: center;
  margin: 26px auto 0 auto;
  background: #D31C24;
  border-radius: 8px;
  padding: 6px 40px 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFF;
}
.product-category .wrapper {
  margin-top: 30px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-category .wrapper .model-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-width: 100%;
}
.product-category .wrapper .model-title > h3 {
  font-weight: 700;
  font-size: 21.7647px;
  line-height: 26px;
  margin-right: 9px;
  position: relative;
}
.product-category .wrapper .model-title > h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.65px;
  background: #C72930;
  bottom: -2px;
}
.product-category .wrapper .model-title > p {
  font-weight: 400;
  font-size: 18.1372px;
  line-height: 21px;
  text-transform: lowercase;
}
.product-category .wrapper .model-title-margin {
  margin-top: 40px;
}
.product-category .wrapper .item {
  max-width: 248px;
  min-width: 144.51px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  margin: 15px 8px 0 8px;
}
.product-category .wrapper .item .prod-img {
  width: 100%;
}
.product-category .wrapper .item .wrapper-text {
  padding: 7px 16px 10px;
}
.product-category .wrapper .item .wrapper-text > h4 {
  font-weight: 600;
  font-size: 17.3342px;
}
.product-category .wrapper .item .wrapper-text .black-title {
  margin-top: 13px;
  background: #000000;
  border-radius: 11.5561px;
  padding: 3.3px 0;
}
.product-category .wrapper .item .wrapper-text .black-title > p {
  font-weight: 400;
  font-size: 14.4452px;
  color: #FFFFFF;
}
.product-category .wrapper .item .wrapper-text > p {
  font-weight: 500;
  font-size: 11.5561px;
  line-height: 14px;
  color: #535353;
  text-align: left;
  margin-top: 15px;
}
.product-category .wrapper .item .wrapper-text > .to-learn-more {
  color: #D31C24;
  font-weight: 400;
  font-size: 11.5561px;
  display: block;
  margin-top: 16px;
}
.product-category .wrapper .item .wrapper-text > .logo-img:before {
  content: "";
  position: absolute;
  width: 100%;
  border: 0.16113px solid #dedbdb;
  right: 0;
  bottom: 60px;
}
.product-category .wrapper .item .wrapper-text > .logo-img img {
  margin-top: 22px;
}

@media screen and (min-width: 588px) {
  .product-category .header-product-category > h2 {
    font-size: 16px;
    line-height: 19px;
  }
  .product-category .wrapper {
    justify-content: flex-start;
  }
  .product-category .wrapper .model-title > h3 {
    font-size: 28.3314px;
    line-height: 33px;
  }
  .product-category .wrapper .model-title > p {
    font-size: 23.6095px;
    line-height: 28px;
  }
}
@media screen and (min-width: 800px) {
  .product-category .header-product-category {
    padding: 29px 0 29px 9%;
  }
  .product-category .header-product-category > h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .product-category .wrapper {
    padding: 0 80px;
  }
  .product-category .wrapper .model-title > h3 {
    font-size: 48px;
    line-height: 56px;
  }
  .product-category .wrapper .model-title > p {
    font-size: 40px;
    line-height: 47px;
  }
  .product-category .wrapper > .item {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1125px) {
  .product-category .header-product-category {
    padding: 29px 0 29px 5%;
  }
}

/*# sourceMappingURL=product-category.css.map */
